.main-content .user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
    gap: 40px;
}

.main-content .user-section form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    gap: 25px;
    width: 100%;
}

.main-content .user-section form h3 {
    font-size: 1.75rem;
    text-align: center;
}

.main-content .user-section form button {
    margin: 0px auto;
    padding: 10px;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: var(--contrast-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    max-width: 150px;
    transition: 0.3s ease;
}

.main-content .user-section form button:hover {
    background-color: var(--contrast-color);
    color: var(--primary-color);
    transition: 0.3s ease;
}

.main-content .user-section form input {
    padding: 6px;
    font-size: 1.2rem;
    font-family: var(--font-main);
    border: 2px solid var(--support-color);
    border-radius: 10px;
}

.main-content .user-section form input::placeholder {
    font-family: var(--font-main);
}

.main-content .user-section .redirect-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
    gap: 10px;
}

.main-content .user-section .redirect-links a {
    text-decoration: none;
    transition: 0.2s ease;
    color: var(--contrast-color);
}

.main-content .user-section .redirect-links a:visited {
    color: var(--contrast-color);
}

.main-content .user-section .redirect-links a:hover {
    color: var(--primary-color);
    transition: 0.2s ease;
}