



















.invalidToken {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  padding: 2rem;
  background-color: var(--register-bg-color); /* Reutilizando uma cor de fundo */
  border: 1px solid var(--input-field-border-color-error);
  border-radius: 8px;
  color: var(--footer-info-color);
}

.invalidToken h2 {
  font-size: 2rem;
  font-family: var(--login-title-font);
  color: var(--error-msg-color);
}

.invalidToken p {
  font-size: 1.4rem;
  line-height: 1.6;
}
