.card{
    border-radius: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 120px;
    cursor: grab;
    background-color: var(--card-bg-color) !important;
    border: 4px solid #2e3c4a;
}

.card:active {
    cursor: grabbing;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.title{
    color: var(--card-title-color);
    font-family: var(--card-title-font);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    padding-inline: 0.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.detailsButton {
    background: none;
    border: none;
    color: var(--muted-foreground);
    cursor: pointer;
    padding: 0.4rem;
    border-radius: var(--radius-sm);
    transition: background-color 0.2s, color 0.2s;
    
    &:hover, &:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--foreground);
    }
}


/* Classes de Prioridade para o fundo do card */
.priority-High {
    background-color: var(--card-priority-high-bg);
    
    &:hover, &:focus-within{
    border-color: var(--card-priority-high-bg);
}
}
.priority-Medium {
    background-color: var(--card-priority-medium-bg);
    
    &:hover, &:focus-within{
    border-color: var(--card-priority-medium-bg);
    }
}

.priority-Low {
    background-color: var(--card-priority-low-bg);
    &:hover, &:focus-within{
    border-color: var(--card-priority-low-bg);
}
}

.priority-Urgent {
    background-color: var(--card-priority-urgent-bg);
    &:hover, &:focus-within{
        border-color: var(--card-priority-urgent-bg);
    }
}

.priority-Optional {
    background-color: var(--card-priority-optional-bg);
    &:hover, &:focus-within{
        border-color: var(--card-priority-optional-bg);
    }
}


.priority{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0.8rem;
    border-radius: var(--radius-sm);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--card-priority-color);
    font-family: var(--card-priority-font);
}

.footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.8rem;
    border-radius: var(--radius-sm);
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--card-priority-font);
}

.expired {
    background-color: #f94144;
    
}
.deadline {
    background-color: #f9c74f;
    
}
.in-time {
    background-color: #43aa8b ;
    
}

.badge{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #e0e1dd;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}


