.card{
    border-radius: 1.2rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 140px;
    cursor: grab;
    background-color: var(--card-bg-color) !important;
    border: 4px solid var(--card-bg-border);
}

.card:active {
    cursor: grabbing;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.title{
    color: var(--card-title-color); 
    font-family: var(--card-title-font);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    padding-inline: 0.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}



.priority{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: var(--card-priority-font);
    color: var(--card-priority-color);
}


/* Classes de Prioridade para o fundo do card */
.priority-high {
    background-color: var(--card-priority-high-bg);
    
    &:hover, &:focus-within{
    border-color: var(--card-priority-high-border);
}
}
.priority-medium {
    background-color: var(--card-priority-medium-bg);
    
    &:hover, &:focus-within{
    border-color: var(--card-priority-medium-border);
    }
}

.priority-low {
    background-color: var(--card-priority-low-bg);
    &:hover, &:focus-within{
    border-color: var(--card-priority-low-border);
}
}

.priority-urgent {
    background-color: var(--card-priority-urgent-bg);
    &:hover, &:focus-within{
        border-color: var(--card-priority-urgent-border);
    }
}

.priority-optional {
    background-color: var(--card-priority-optional-bg);
    &:hover, &:focus-within{
        border-color: var(--card-priority-optional-border);
    }
}





.expired {
    background-color: var(--card-badge-expired-bg);
    color: var(--card-badge-expired-text);
    text-shadow: 1px 1px 1px var(--card-badge-expired-text);
    
}
.deadline {
    background-color: var(--card-badge-deadline-bg);
    color: var(--card-badge-deadline-text);
    text-shadow: 1px 1px 1px var(--card-badge-deadline-text);
    
}
.in-time {
    background-color: var(--card-badge-intime-bg);
    color: var(--card-badge-intime-text);
    text-shadow: 1px 1px 1px var(--card-badge-intime-text);
    
}

.badge{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
 
.leftFooter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.deleteButton {
    background: none;
    border: none;
    color: var(--card-delete-btn-color);
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 50%;
    transition: all 0.2s ease;
    
    &:hover, &:focus {
    background-color: var(--card-delete-btn-color);
    color: var(--card-bg-color);
    }
}

.editButton {
    background: none;
    border: none;
    color: var(--card-edit-btn-color);
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 50%;
    transition: all 0.2s ease;
    
    &:hover, &:focus {
    background-color: var(--card-edit-btn-color);
    color: var(--card-bg-color);
    }
}

.detailsButton {
    background: none;
    border: none;
    color: var(--card-details-btn-color);
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 50%;
    transition: all 0.2s ease;
    
    &:hover, &:focus {
    background-color: var(--card-details-btn-color);
    color: var(--card-bg-color);
    }
}

