.card{
    border-radius: 0.8rem;
    padding: 1.2rem 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    cursor: grab;
}

.card:active {
    cursor: grabbing;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}

.title{
    color: var(--card-title-color);
    font-family: var(--card-title-font);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    padding-inline: 0.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detailsButton {
    background: none;
    border: none;
    color: var(--muted-foreground);
    cursor: pointer;
    padding: 0.4rem;
    border-radius: var(--radius-sm);
    transition: background-color 0.2s, color 0.2s;
    
    &:hover, &:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--foreground);
    }
}


/* Classes de Prioridade para o fundo do card */
.priority-high {
    background-color: var(--card-priority-high-bg);
    box-shadow: 0 0 2px var(--card-priority-high-bg), 0 0 4px var(--card-priority-high-bg), 0 0 8px var(--card-priority-high-bg);
}

.priority-medium {
    background-color: var(--card-priority-medium-bg);
    box-shadow: 0 0 2px var(--card-priority-medium-bg), 0 0 4px var(--card-priority-medium-bg), 0 0 8px var(--card-priority-medium-bg);

}

.priority-low {
    background-color: var(--card-priority-low-bg);
    box-shadow: 0 0 2px var(--card-priority-low-bg), 0 0 4px var(--card-priority-low-bg), 0 0 8px var(--card-priority-low-bg);

}

.priority-urgent {
    background-color: var(--card-priority-urgent-bg);
    box-shadow: 0 0 2px var(--card-priority-urgent-bg), 0 0 4px var(--card-priority-urgent-bg), 0 0 8px var(--card-priority-urgent-bg);
}

.priority-optional {
    background-color: var(--card-priority-optional-bg);
    box-shadow: 0 0 2px var(--card-priority-optional-bg), 0 0 4px var(--card-priority-optional-bg), 0 0 8px var(--card-priority-optional-bg);
}


.priority{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0.8rem;
    border-radius: var(--radius-sm);
    font-size: 1.2rem;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--card-priority-color);
    font-family: var(--card-priority-font);
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5rem;
}

.footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.8rem;
    border-radius: var(--radius-sm);
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--card-priority-font);
}

/* Classes de Status de Vencimento para o badge de data */
.expired {
    background-color: #8c1c13;
    color: #000814;
}
.deadline {
    background-color: #f9844a;
    color: #000814;
}
.in-time {
    background-color: #90be6d ;
    color: #000814;
}


