.board {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  
  overflow-x: auto;
  height: 100%;

  -webkit-overflow-scrolling: touch;

  scrollbar-width: thin;
  scrollbar-color: var(--column-header-bg) var(--column-bg);
}