.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    gap: 2rem;
    width: 450px;
    box-sizing: border-box;
    background-color: var(--register-bg-color);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--register-border-color);

    &:hover, &:focus-within {
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);

        
    }
}

.title{
    text-align: center;
    font: 800 3.2rem var(--register-title-font);
    color: var(--register-title-color);
    margin-bottom: 2rem;
}

.error{
    font: 400 1.6rem var(--input-field-error-font);
    color: var(--error-msg-color);
    text-align: center;
    margin-bottom: 1rem;
}