.dashboardContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
  position: relative;

  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--column-header-bg) var(--column-bg);
  &::-webkit-scrollbar {
    width: 10px ;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background: var(--column-header-bg);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--column-bg);
    border-radius: 20px;
    border: 3px solid var(--column-header-bg);
  }


}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--text-color-primary);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.8rem;
  color: var(--text-color-secondary);
}
