.dashboardContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
  position: relative;

  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--column-header-bg) var(--column-bg);
  &::-webkit-scrollbar {
    width: 10px ;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background: var(--column-header-bg);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--column-bg);
    border-radius: 20px;
    border: 3px solid var(--column-header-bg);
  }


}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 2.8rem;
  font-weight: 900;
  color: var(--dashboard-page-title-color);
  font-family: var(--dashboard-page-title-font);

}

.actions{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.newTaskButton{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dashboard-new-task-btn-bg-color);
  color: var(--dashboard-new-task-btn-text-color);
  border: 2px solid var(--dashboard-new-task-btn-text-color);
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--dashboard-new-task-btn-hover-bg-color);
  }
  
}



.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 0; 
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spin 1s linear infinite;
}
