

.btn{
    display: flex;
    place-items: center;
    padding: 0.8rem;
    gap: 0.5rem;
    border-radius: 0.6rem;
    background-color: var(--sb-bg-color);   
    border: 1px solid var(--sb-border-color);
    cursor: pointer;
    transition: all 300ms ease;
    
        color: var(--sb-text-color);
    font: 700 1.6rem var(--sb-text-font);
    text-transform: uppercase;



    &:hover, &:focus{
        background-color: var(--sb-hover-bg-color);
        border-color: var(--sb-hover-border-color);
    }

}

.disabled{
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    background-color: #374151;
}


