.column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 320px;
  height: fit-content;
  max-height: 100%;
  background-color: var(--column-bg-color);
  border-radius: var(--border-radius-lg);
  padding: 1rem;
  flex-shrink: 0; /* Impede que a coluna encolha */
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.5rem 0.5rem;
  color: var(--text-color-primary);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  padding: 0 0.5rem 0.5rem;
  min-height: 100px; /* Altura mínima para a área de drop */
}