.column {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%; 
  background-color: var(--column-bg); 
  border-radius: 1.5rem;
  flex-shrink: 0;
  transition: all 0.2s ease-in-out;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--column-header-bg);
  border-radius: 1.5rem 1.5rem 0 0;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--column-title-font);
  color: var(--column-title-color);
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.taskCount {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--column-header-bg);
  background-color: var(--column-bg);
  border-radius: 50%;
  min-width: 24px;
  height: 24px;
  padding: 0.5rem;
}

.addButton {
  background: none;
  border: none;
  color: var(--column-bg);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: all 0.2s;
   &:hover, &:focus-within {
    background-color: var(--column-bg);
    color: var(--column-header-bg);
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  overflow-y: auto;
  padding: 1.5rem;
  min-height: 100px; 
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 40rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--column-empty-color);
  border-radius: 1.5rem;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--column-bg);
  padding: 1rem;
  font-style: italic;
}

.emptyState p{
  width: 100%;
  text-align: center;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;


}

.is-dragging-over {
  background-color: var(--column-dragging-color);
}
