
@font-face {
    font-family: 'Tech';
    src: url('../assets/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf');
}

@font-face{
    font-family: 'Playfair';
    src: url('../assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'IBM';
    src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'RedHat';
    src: url('../assets/fonts/Red_Hat_Mono/RedHatMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('../assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Electrolize';
    src: url('../assets/fonts/Electrolize/Electrolize-Regular.ttf');
}
