
@font-face {
    font-family: 'Tech';
    src: url('../assets/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf');
}

@font-face{
    font-family: 'Playfair';
    src: url('../assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'IBM';
    src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'RedHat';
    src: url('../assets/fonts/Red_Hat_Mono/RedHatMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('../assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Electrolize';
    src: url('../assets/fonts/Electrolize/Electrolize-Regular.ttf');
}


:root{
     /* header */
  --navbar-logo-font: "Orbitron", sans-serif;
  --navbar-link-font: "Poppins", sans-serif;
  --greetings-font: "IBM", serif;
  --user-menu-item--text-font: "Poppins", sans-serif;

  /* home page */

  --hero-title-font: "Orbitron", sans-serif;
  --hero-subtitle-font: "Lato", sans-serif;
  --hero-developed-font: "Lato", sans-serif;
  --cta-btn-font: "IBM", sans-serif;

  --features-title-font: "Lato", sans-serif;
  --features-subtitle-font: "Lato", sans-serif;
  --featcard-title-font: "Lato", sans-serif;
  --featcard-description-font: "Lato", sans-serif;

  --demo-title-font: "Lato", sans-serif;
  --demo-subtitle-font: "Lato", sans-serif;
  --demo-figcaption-font: "Lato", sans-serif;
  --about-title-font: "Lato", sans-serif;
  --about-text-font: "Lato", sans-serif;
  --dev-card-role-font: "Electrolize", sans-serif;
  --dev-card-title-font: "Tech", monospace;
  --dev-card-tech-font: "Lato", sans-serif;
  --dev-card-description-font: "Lato", sans-serif;
  --dev-card-stack-font: "Lato", sans-serif;
  --dev-card-contact-font: "Lato", sans-serif;

  --cta-title-font: "Lato", sans-serif;
  --footer-title-font: "Playfair", serif;
  --footer-info-font: "Lato", sans-serif;

  /* login page*/

  --input-field-label-font: "Poppins", sans-serif;
  --input-field-placeholder-font: "IBM", sans-serif;
  --input-field-input-font: "Lato", sans-serif;
  --input-field-error-font: "RedHat", monospace;
  --input-field-error-font: "Lato", sans-serif;

  --sb-text-font: "Electrolize", sans-serif;

  --login-title-font: "Orbitron", sans-serif;
  --fpd-description-font: RedHat, monospace;
  --fpd-title-font: Lato, sans-serif;
  --register-title-font: "Orbitron", sans-serif;

  /* * dashboard */

  --card-title-font: "Lato", sans-serif;
  --card-priority-font: "Lato", sans-serif;
  --card-subtitle-font: "Lato", sans-serif;
  --card-description-font: "Lato", sans-serif;
    --card-description-font: ;
--card-badges-label-font: ;
--card-badges-value-font: ;
    --card-footer-btn-font: ;

  
  --column-title-font: "Lato", sans-serif;
  --dashboard-page-title-font: "Electrolize", sans-serif;
  --task-filter-trigger-text-font: "Lato", sans-serif;
  --task-filter-item-text-font: "Lato", sans-serif;

  --task-form-dialog-title-font: "Electrolize", sans-serif;
  --task-form-dialog-description-font: "Poppins", sans-serif;
      --task-form-input-text-font: ;
          --task-form-item-label-font: ;
    --task-form-select-trigger-text-font: ;
    --task-form-select-item-text-font: ;
    --task-form-dialog-datepicker-trigger-font: ;
    --task-form-dialog-cancel-button-text-font: ;
    --task-form-dialog-submit-button-text-font: ;
        --delete-dialog-description-font: 'Poppins', sans-serif;
    --delete-dialog-title-font: 'Electrolize', sans-serif;
    --delete-dialog-confirm-btn-font: 'Lato', sans-serif;
    --delete-dialog-cancel-btn-text-font: 'Lato', sans-serif;

    /** settings page */

       --profile-title-font: 'Lato', sans-serif;
     --profile-subtitle-font: 'Lato', sans-serif;
      --preferences-title-font: 'Lato', sans-serif;
    --preferences-subtitle-font: 'Lato', sans-serif;
        --preferences-theme-title-font: 'Lato', sans-serif;
    --preferences-theme-btn-text-font: 'Lato', sans-serif;
    --security-title-font: 'Lato', sans-serif;
    --security-subtitle-font: 'Lato', sans-serif;
    --danger-zone-title-font: 'Lato', sans-serif;
    --danger-zone-subtitle-font: 'Lato', sans-serif;
        --reset-form-title-font: 'Electrolize', sans-serif; 

}