

:root{
    /* login page */
    --loginPage-bg-color: #415a77 ;

    /* Login Form */
    --login-bg-color: #182437 ;
    --login-border-color: #142133;
    --login-title-font: 'Orbitron', sans-serif;
    --login-title-color: #778da9 ;
    --redirect-color: #b8d0eb;
    --redirect-hover: #778da9 ;
    --error-msg-color: #ed3f54 ;

    /* input-field */
    --input-field-bg-color: #0d1b2a;
    --input-field-text-color: #e0e1dd;
    --input-field-icon-color: #e0e1dd;
    --input-field-label-color: #778da9 ;
    --input-field-placeholder-color: #778da9;
    --input-field-border-color-default: #1b263b;
    --input-field-border-color-focus: #05f2db;
    --input-field-border-color-filled: #00ff00;
    --input-field-border-color-error: #d9048e;
    --input-field-label-font: 'Poppins', sans-serif;
    --input-field-placeholder-font: 'IBM', sans-serif;
    --input-field-input-font: 'Lato', sans-serif;
    --input-field-error-font: 'RedHat', monospace;
    
    /* submit button */

    --sb-bg-color: #415a77 ;
    --sb-border-color: #202d43;
    --sb-hover-bg-color: #202d43 ;
    --sb-hover-border-color: #415a77 ;
    --sb-text-color: #acb7c3;
    --sb-text-font: 'Electrolize', sans-serif ;

    /* Forgot Password Dialog */
    --fgd-link-color: #05f2c7;
    --fpd-link-hover: #0073a5;
    --fpd-title-font: ;
    --fpd-title-color: ;
    --fpd-description-font: ;
    --fpd-description-color: ;




    /* Register form */
    --register-bg-color: #2d3250;
    --register-border-color: #f9b17a;
    --register-title-font: 'Orbitron', sans-serif;
    --register-title-color: #676f9d;  
    

    /* Develpoer Card */
    --dev-card-bg-color: #001c1c;
    --dev-card-avatar-border-color: #008e8e;
    --dev-card-title-font: "Tech", monospace;
    --dev-card-title-color: #00e3e3;

    /* Footer */
    --footer-bg-color: #0d1b2a;
    --footer-title-color: #415a77;
    --footer-title-font: 'Playfair', serif;
    --footer-info-font: 'Lato',sans-serif;
    --footer-info-color: #e0e1dd;
    --footer-info-hover: #778da9;
    --footer-line-color: #1b263b;

    /* Header  */
    --header-border-color:#0d1b2a ;
    --header-bg-color:#0d1b2a ;

    /* Greetings */
    --greetings-color-1:#00ff00 ;
    --greetings-color-2: #05f2db;
    --greetings-color-3: #0600ab;
    --greetings-color-4: #d9048e ;
    --greetings-font:  ;

  
    /* Navbar  */ 
    --navbar-logo-color: #ed3f54; 
    --navbar-logo-font: 'Orbitron', sans-serif;
    --navbar-link-color: #e0e1dd;
    --navbar-link-font: 'Poppins', sans-serif;
    --navbar-link-hover: #778da9; 

    /* Greetings */


    /* Dropdown Menu  */
    --dropdown-bg-color: oklch(100% 0 0); 
    --dropdown-text-color: oklch(19.56% 0.022 273.44);
    --dropdown-border-color: oklch(94% 0.004 286.32); 
    --dropdown-separator-color: oklch(96.52% 0.005 286.32);
    --dropdown-item-bg-hover: oklch(96.52% 0.005 286.32); 
    --dropdown-item-text-hover: oklch(29.23% 0.018 273.44);
    --dropdown-label-color: oklch(58.31% 0.011 263.81); 
    --dropdown-item-destructive-text-color: oklch(57.8% 0.224 19.86);
    --dropdown-item-destructive-bg-hover: oklch(57.8% 0.224 19.86 / 0.05);

    /* greetings */
    --greetings-font: 'IBM', serif;
}



 
/** Dark Mode Variant **/
@custom-variant dark (&:is(.dark *));
 
/** Colors **/
:root {
  --background: var(--color-white);
  --foreground: var(--color-zinc-950);
  --card: var(--color-white);
  --card-foreground: var(--color-zinc-950);
  --popover: var(--color-white);
  --popover-foreground: var(--color-zinc-950);
  --primary: var(--color-blue-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-zinc-100);
  --secondary-foreground: var(--color-zinc-900);
  --muted: var(--color-zinc-100);
  --muted-foreground: var(--color-zinc-500);
  --accent: var(--color-zinc-100);
  --accent-foreground: var(--color-zinc-900);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-white);
  --chart-1: var(--color-blue-500);
  --chart-2: var(--color-green-500);
  --chart-3: var(--color-yellow-500);
  --chart-4: var(--color-red-500);
  --chart-5: var(--color-purple-500);
  --border: oklch(94% 0.004 286.32); /* between --color-zinc-100 and --color-zinc-200 */
  --input: var(--color-zinc-200);
  --ring: var(--color-zinc-400);
  --radius: 0.5rem;
}

.dark {
    /* Navbar Customization for Dark Mode */
    --navbar-bg-color: oklch(19.56% 0.022 273.44 / 0.95); /* Corresponde a dark:bg-background/95 */
    --navbar-logo-color: oklch(98.75% 0 0); /* Corresponde a dark:foreground */
    --navbar-link-color: oklch(58.31% 0.011 263.81); /* Corresponde a dark:muted-foreground */
    --navbar-link-hover: oklch(65.81% 0.223 263.81); /* Corresponde a dark:primary */

    /* Dropdown Menu Customization for Dark Mode */
    --dropdown-bg-color: oklch(19.56% 0.022 273.44); /* Corresponde a dark:popover */
    --dropdown-text-color: oklch(98.75% 0 0); /* Corresponde a dark:popover-foreground */
    --dropdown-border-color: oklch(34.07% 0.017 273.44); /* Corresponde a dark:border */
    --dropdown-separator-color: oklch(26.81% 0.019 273.44); /* Corresponde a dark:muted */
    --dropdown-item-bg-hover: oklch(26.81% 0.019 273.44); /* Corresponde a dark:accent */
    --dropdown-item-text-hover: oklch(98.75% 0 0); /* Corresponde a dark:accent-foreground */
    --dropdown-label-color: oklch(58.31% 0.011 263.81); /* Corresponde a dark:muted-foreground */
    /* A cor destructive geralmente não muda no modo escuro */
    --dropdown-item-destructive-text-color: oklch(57.8% 0.224 19.86);
    --dropdown-item-destructive-bg-hover: oklch(57.8% 0.224 19.86 / 0.05);
}

 
.dark {
  --background: var(--color-zinc-950);
  --foreground: var(--color-zinc-50);
  --card: var(--color-zinc-950);
  --card-foreground: var(--color-zinc-50);
  --popover: var(--color-zinc-950);
  --popover-foreground: var(--color-zinc-50);
  --primary: var(--color-blue-600);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-zinc-800);
  --secondary-foreground: var(--color-zinc-50);
  --muted: var(--color-zinc-900);
  --muted-foreground: var(--color-zinc-500);
  --accent: var(--color-zinc-900);
  --accent-foreground: var(--color-zinc-50);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-white);
  --chart-1: var(--color-blue-500);
  --chart-2: var(--color-green-500);
  --chart-3: var(--color-yellow-500);
  --chart-4: var(--color-red-500);
  --chart-5: var(--color-purple-500);
  --border: var(--color-zinc-800);
  --input: var(--color-zinc-800);
  --ring: var(--color-zinc-600);
}
 
/** Theme Setup **/
@theme inline { 
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
 
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
 
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
 
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}
 
/** Global Styles **/
@layer base {
  * {
    @apply border-border;
  }
 
  *:focus-visible {
    @apply outline-ring rounded-xs shadow-none outline-2 outline-offset-3 transition-none!;
  }
}
 
/** Custom Scrollbar **/
@layer base {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--input);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--input) transparent;
  }
}
 
/** Custom Container **/
@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1440px) {
    padding-inline: 2rem;
    max-width: 1440px;
  }
}
 
/** Smooth scroll **/
html {
  scroll-behavior: smooth;
}
