:root {
   --input-field-border-color-default: #1b263b;
  --input-field-border-color-focus: #05f2db;
  --input-field-border-color-filled: #00ff00;
  --input-field-border-color-error: #d9048e;

}

@theme {
  /** Default  */

  --color-black-pearl-50: #f3f7fc;
  --color-black-pearl-100: #e5eff9;
  --color-black-pearl-200: #c5ddf2;
  --color-black-pearl-300: #93c1e6;
  --color-black-pearl-400: #59a1d7;
  --color-black-pearl-500: #3486c3;
  --color-black-pearl-600: #246aa5;
  --color-black-pearl-700: #1e5586;
  --color-black-pearl-800: #1d486f;
  --color-black-pearl-900: #1d3e5d;
  --color-black-pearl-950: #0d1b2a;

  --color-fiord-50: #f5f7fa;
  --color-fiord-100: #ebeef3;
  --color-fiord-200: #d1dbe6;
  --color-fiord-300: #a9bbd0;
  --color-fiord-400: #7b98b5;
  --color-fiord-500: #5b7b9c;
  --color-fiord-600: #415a77;
  --color-fiord-700: #3a506a;
  --color-fiord-800: #334559;
  --color-fiord-900: #2e3b4c;
  --color-fiord-950: #1f2632;

  --color-bermuda-gray-50: #f4f7f9;
  --color-bermuda-gray-100: #ebf1f4;
  --color-bermuda-gray-200: #dae6eb;
  --color-bermuda-gray-300: #c3d5de;
  --color-bermuda-gray-400: #abbfce;
  --color-bermuda-gray-500: #95abbf;
  --color-bermuda-gray-600: #778da9;
  --color-bermuda-gray-700: #6b7e97;
  --color-bermuda-gray-800: #58677b;
  --color-bermuda-gray-900: #4b5664;
  --color-bermuda-gray-950: #2c323a;

  --color-mercury-50: #f7f7f5;
  --color-mercury-100: #ebebe9;
  --color-mercury-200: #e0e1dd;
  --color-mercury-300: #bbbdb4;
  --color-mercury-400: #a0a295;
  --color-mercury-500: #8d8f80;
  --color-mercury-600: #818274;
  --color-mercury-700: #6c6d61;
  --color-mercury-800: #5a5a52;
  --color-mercury-900: #4a4944;
  --color-mercury-950: #272723;

  --color-big-stone-50: #f4f7fb;
  --color-big-stone-100: #e8edf6;
  --color-big-stone-200: #cbdaec;
  --color-big-stone-300: #9dbbdc;
  --color-big-stone-400: #6996c7;
  --color-big-stone-500: #4679b1;
  --color-big-stone-600: #345f95;
  --color-big-stone-700: #2b4c79;
  --color-big-stone-800: #274265;
  --color-big-stone-900: #253955;
  --color-big-stone-950: #182437;

  --color-loblolly-50: #f6f7f8;
  --color-loblolly-100: #eaedef;
  --color-loblolly-200: #d9e0e4;
  --color-loblolly-300: #b0bec5;
  --color-loblolly-400: #a1b1b9;
  --color-loblolly-500: #8a9ba7;
  --color-loblolly-600: #788898;
  --color-loblolly-700: #6c7989;
  --color-loblolly-800: #5b6472;
  --color-loblolly-900: #4b545d;
  --color-loblolly-950: #31353a;

  --color-web-orange-50: #fffbea;
  --color-web-orange-100: #fff4c5;
  --color-web-orange-200: #ffe787;
  --color-web-orange-300: #ffd548;
  --color-web-orange-400: #ffc01e;
  --color-web-orange-500: #fca311;
  --color-web-orange-600: #df7500;
  --color-web-orange-700: #b95104;
  --color-web-orange-800: #963e0a;
  --color-web-orange-900: #7b330c;
  --color-web-orange-950: #471901;

  /** neon flow */
  --color-cinder-50: #f5f5fa;
  --color-cinder-100: #eaeaf4;
  --color-cinder-200: #d0d1e7;
  --color-cinder-300: #a6aad3;
  --color-cinder-400: #767cba;
  --color-cinder-500: #555ca2;
  --color-cinder-600: #414588;
  --color-cinder-700: #36386e;
  --color-cinder-800: #30335c;
  --color-cinder-900: #2c2e4e;
  --color-cinder-950: #0a0a12;
  --color-cinder-1000: #11121b;

  --color-neon-cyan-50: #edfffe;
  --color-neon-cyan-100: #c0feff;
  --color-neon-cyan-200: #81fbff;
  --color-neon-cyan-300: #3af8ff;
  --color-neon-cyan-400: #00ffff;
  --color-neon-cyan-500: #00e1e2;
  --color-neon-cyan-600: #00b2b7;
  --color-neon-cyan-700: #008c91;
  --color-neon-cyan-800: #006c72;
  --color-neon-cyan-900: #04585d;
  --color-neon-cyan-950: #00343a;

  --color-amethyst-50: #faf5ff;
  --color-amethyst-100: #f4e7ff;
  --color-amethyst-200: #ebd3ff;
  --color-amethyst-300: #dcb0ff;
  --color-amethyst-400: #c67eff;
  --color-amethyst-500: #b14eff;
  --color-amethyst-600: #9c2af3;
  --color-amethyst-700: #881ad6;
  --color-amethyst-800: #731aaf;
  --color-amethyst-900: #5e178c;
  --color-amethyst-950: #410269;

  --color-rose-50: #fff0f9;
  --color-rose-100: #ffe3f6;
  --color-rose-200: #ffc6ec;
  --color-rose-300: #ff98db;
  --color-rose-400: #ff58c1;
  --color-rose-500: #ff27a5;
  --color-rose-600: #ff0080;
  --color-rose-700: #df0064;
  --color-rose-800: #b80053;
  --color-rose-900: #980348;
  --color-rose-950: #5f0026;

  --color-titan-white-50: #f3f2ff;
  --color-titan-white-100: #e8e8ff;
  --color-titan-white-200: #d4d4ff;
  --color-titan-white-300: #b3b2ff;
  --color-titan-white-400: #8d86ff;
  --color-titan-white-500: #6855fd;
  --color-titan-white-600: #5431f6;
  --color-titan-white-700: #4620e1;
  --color-titan-white-800: #3a1abd;
  --color-titan-white-900: #32179b;
  --color-titan-white-950: #1b0c69;

  --color-santas-gray-50: #f5f7f8;
  --color-santas-gray-100: #ecf0f3;
  --color-santas-gray-200: #dce2e9;
  --color-santas-gray-300: #c7cfda;
  --color-santas-gray-400: #afb8ca;
  --color-santas-gray-500: #9ba3ba;
  --color-santas-gray-600: #848aa7;
  --color-santas-gray-700: #717791;
  --color-santas-gray-800: #5d6276;
  --color-santas-gray-900: #4e5261;
  --color-santas-gray-950: #2e3038;

  --color-mirage-50: #f6f6f9;
  --color-mirage-100: #ebecf3;
  --color-mirage-200: #d3d5e4;
  --color-mirage-300: #adb2cc;
  --color-mirage-400: #8088b0;
  --color-mirage-500: #606997;
  --color-mirage-600: #4c527d;
  --color-mirage-700: #3e4366;
  --color-mirage-800: #363a56;
  --color-mirage-900: #313349;
  --color-mirage-950: #1c1d2a;






  /* Cloudy Focus  */

  --color-zircon-50: #f5f7fb;
  --color-zircon-100: #e5e9f4;
  --color-zircon-200: #d1daec;
  --color-zircon-300: #b1c2df;
  --color-zircon-400: #8ca3ce;
  --color-zircon-500: #7087c1;
  --color-zircon-600: #5e6fb2;
  --color-zircon-700: #525fa3;
  --color-zircon-800: #474f86;
  --color-zircon-900: #3d446b;
  --color-zircon-950: #282b43;

  --color-white-50: #ffffff;
  --color-white-100: #efefef;
  --color-white-200: #dcdcdc;
  --color-white-300: #bdbdbd;
  --color-white-400: #989898;
  --color-white-500: #7c7c7c;
  --color-white-600: #656565;
  --color-white-700: #525252;
  --color-white-800: #464646;
  --color-white-900: #3d3d3d;
  --color-white-950: #292929;

  --color-cornflower-blue-50: #f0f4fe;
  --color-cornflower-blue-100: #dde7fc;
  --color-cornflower-blue-200: #c3d5fa;
  --color-cornflower-blue-300: #9abbf6;
  --color-cornflower-blue-400: #5b8def;
  --color-cornflower-blue-500: #4773ea;
  --color-cornflower-blue-600: #3155df;
  --color-cornflower-blue-700: #2942cc;
  --color-cornflower-blue-800: #2737a6;
  --color-cornflower-blue-900: #253383;
  --color-cornflower-blue-950: #1b2150;

  --color-perano-50: #edf3ff;
  --color-perano-100: #dfe7ff;
  --color-perano-200: #c5d3ff;
  --color-perano-300: #a6b9ff;
  --color-perano-400: #7d8efc;
  --color-perano-500: #5e67f6;
  --color-perano-600: #4341ea;
  --color-perano-700: #3933cf;
  --color-perano-800: #2f2ca7;
  --color-perano-900: #2b2c84;
  --color-perano-950: #1b194d;

  --color-cruise-50: #f3faf9;
  --color-cruise-100: #d5f2ed;
  --color-cruise-200: #b8e8e0;
  --color-cruise-300: #79cfc3;
  --color-cruise-400: #4eb3aa;
  --color-cruise-500: #349890;
  --color-cruise-600: #277a74;
  --color-cruise-700: #23625f;
  --color-cruise-800: #204f4d;
  --color-cruise-900: #1f4241;
  --color-cruise-950: #0c2727;

  --color-grafite-50: #f6f6f9;
  --color-grafite-100: #ececf2;
  --color-grafite-200: #d5d6e2;
  --color-grafite-300: #afb1ca;
  --color-grafite-400: #8488ac;
  --color-grafite-500: #656992;
  --color-grafite-600: #505279;
  --color-grafite-700: #424462;
  --color-grafite-800: #393a53;
  --color-grafite-900: #333447;
  --color-grafite-950: #1e1e2a;

  --color-storm-gray-50: #f7f7f8;
  --color-storm-gray-100: #ededf1;
  --color-storm-gray-200: #d7d8e0;
  --color-storm-gray-300: #b4b6c5;
  --color-storm-gray-400: #8c91a4;
  --color-storm-gray-500: #6e738a;
  --color-storm-gray-600: #585c71;
  --color-storm-gray-700: #484b5c;
  --color-storm-gray-800: #3e404e;
  --color-storm-gray-900: #373943;
  --color-storm-gray-950: #24242d;

  --color-link-water-50: #f3f6fa;
  --color-link-water-100: #eaeef5;
  --color-link-water-200: #e0e6f0;
  --color-link-water-300: #c1cbe0;
  --color-link-water-400: #a7b3d2;
  --color-link-water-500: #909ac4;
  --color-link-water-600: #7980b2;
  --color-link-water-700: #676c9b;
  --color-link-water-800: #555a7e;
  --color-link-water-900: #494d66;
  --color-link-water-950: #2a2c3c;

  /** after hours */

  --color-woodsmoke-50: #f6f6f9;
  --color-woodsmoke-100: #ededf1;
  --color-woodsmoke-200: #d7d8e0;
  --color-woodsmoke-300: #b4b6c5;
  --color-woodsmoke-400: #8b8da5;
  --color-woodsmoke-500: #6c6e8b;
  --color-woodsmoke-600: #575972;
  --color-woodsmoke-700: #47485d;
  --color-woodsmoke-800: #3d3e4f;
  --color-woodsmoke-900: #363744;
  --color-woodsmoke-950: #0c0c0f;

  --color-bunker-50: #f6f6f9;
  --color-bunker-100: #ededf1;
  --color-bunker-200: #d7d8e0;
  --color-bunker-300: #b4b6c5;
  --color-bunker-400: #8b8da5;
  --color-bunker-500: #6c6e8b;
  --color-bunker-600: #575972;
  --color-bunker-700: #47485d;
  --color-bunker-800: #3d3e4f;
  --color-bunker-900: #363744;
  --color-bunker-950: #141419;

  --color-tussock-50: #faf4ec;
  --color-tussock-100: #f2e6cf;
  --color-tussock-200: #e7cda1;
  --color-tussock-300: #d4a056;
  --color-tussock-400: #cd8e42;
  --color-tussock-500: #be7934;
  --color-tussock-600: #a35e2b;
  --color-tussock-700: #834525;
  --color-tussock-800: #6e3a25;
  --color-tussock-900: #5e3225;
  --color-tussock-950: #361912;

  --color-santa-fe-50: #fbf6f5;
  --color-santa-fe-100: #f7ece9;
  --color-santa-fe-200: #f1dcd7;
  --color-santa-fe-300: #e6c3bb;
  --color-santa-fe-400: #d7a092;
  --color-santa-fe-500: #c57f6e;
  --color-santa-fe-600: #b46f5e;
  --color-santa-fe-700: #925343;
  --color-santa-fe-800: #7a473a;
  --color-santa-fe-900: #673f35;
  --color-santa-fe-950: #361f19;

  --color-fuchsia-blue-50: #f5f5fd;
  --color-fuchsia-blue-100: #eeedfa;
  --color-fuchsia-blue-200: #e0ddf7;
  --color-fuchsia-blue-300: #c8c2f0;
  --color-fuchsia-blue-400: #ac9fe6;
  --color-fuchsia-blue-500: #9077db;
  --color-fuchsia-blue-600: #7e5bce;
  --color-fuchsia-blue-700: #6d47ba;
  --color-fuchsia-blue-800: #5b3b9c;
  --color-fuchsia-blue-900: #4c3280;
  --color-fuchsia-blue-950: #2e1f56;

  --color-westar-50: #f8f7f4;
  --color-westar-100: #e5e2da;
  --color-westar-200: #dbd7cd;
  --color-westar-300: #c4bdad;
  --color-westar-400: #ac9f8b;
  --color-westar-500: #9b8a74;
  --color-westar-600: #8e7b68;
  --color-westar-700: #776557;
  --color-westar-800: #62544a;
  --color-westar-900: #50453e;
  --color-westar-950: #2a2420;

  --color-pale-oyster-50: #f4f4f2;
  --color-pale-oyster-100: #e4e2dd;
  --color-pale-oyster-200: #cac8be;
  --color-pale-oyster-300: #aca798;
  --color-pale-oyster-400: #9c9585;
  --color-pale-oyster-500: #857d6d;
  --color-pale-oyster-600: #72695c;
  --color-pale-oyster-700: #5c544c;
  --color-pale-oyster-800: #504943;
  --color-pale-oyster-900: #47403c;
  --color-pale-oyster-950: #272321;

  --color-shark-50: #f7f7f8;
  --color-shark-100: #eeeef0;
  --color-shark-200: #d9d9de;
  --color-shark-300: #b8b9c1;
  --color-shark-400: #91939f;
  --color-shark-500: #737584;
  --color-shark-600: #5d5e6c;
  --color-shark-700: #4c4d58;
  --color-shark-800: #41414b;
  --color-shark-900: #393941;
  --color-shark-950: #1e1e22;





  /** Forest Calm */

  --color-snow-drift-50: #f2f5f2;
  --color-snow-drift-100: #dfe8df;
  --color-snow-drift-200: #c0cfc0;
  --color-snow-drift-300: #98b09a;
  --color-snow-drift-400: #728f75;
  --color-snow-drift-500: #58745b;
  --color-snow-drift-600: #455c48;
  --color-snow-drift-700: #3a4b3d;
  --color-snow-drift-800: #313e33;
  --color-snow-drift-900: #2b362d;
  --color-snow-drift-950: #161d18;

  --color-white-50: #ffffff;
  --color-white-100: #efefef;
  --color-white-200: #dcdcdc;
  --color-white-300: #bdbdbd;
  --color-white-400: #989898;
  --color-white-500: #7c7c7c;
  --color-white-600: #656565;
  --color-white-700: #525252;
  --color-white-800: #464646;
  --color-white-900: #3d3d3d;
  --color-white-950: #292929;

  --color-spring-leaves-50: #f2f7f4;
  --color-spring-leaves-100: #deede1;
  --color-spring-leaves-200: #c0dac7;
  --color-spring-leaves-300: #96bfa3;
  --color-spring-leaves-400: #689f7c;
  --color-spring-leaves-500: #4c8a64;
  --color-spring-leaves-600: #356649;
  --color-spring-leaves-700: #2a523c;
  --color-spring-leaves-800: #234230;
  --color-spring-leaves-900: #1e3629;
  --color-spring-leaves-950: #101e17;

  --color-amulet-50: #f2f7f2;
  --color-amulet-100: #e1ebe0;
  --color-amulet-200: #c3d7c3;
  --color-amulet-300: #9abb9c;
  --color-amulet-400: #81a684;
  --color-amulet-500: #4e7b53;
  --color-amulet-600: #3a613f;
  --color-amulet-700: #2e4e33;
  --color-amulet-800: #273e2b;
  --color-amulet-900: #203424;
  --color-amulet-950: #111d13;

  --color-husk-50: #f7f7ef;
  --color-husk-100: #ede9d4;
  --color-husk-200: #dcd4ac;
  --color-husk-300: #c7b77d;
  --color-husk-400: #b8a15d;
  --color-husk-500: #a78c4b;
  --color-husk-600: #8f713f;
  --color-husk-700: #735735;
  --color-husk-800: #624831;
  --color-husk-900: #553e2e;
  --color-husk-950: #302118;

  --color-rangoon-green-50: #f6f7f6;
  --color-rangoon-green-100: #e2e6e1;
  --color-rangoon-green-200: #c4cdc2;
  --color-rangoon-green-300: #9fac9c;
  --color-rangoon-green-400: #7a8a77;
  --color-rangoon-green-500: #5f6f5d;
  --color-rangoon-green-600: #4b5849;
  --color-rangoon-green-700: #3e483d;
  --color-rangoon-green-800: #343c33;
  --color-rangoon-green-900: #2e342d;
  --color-rangoon-green-950: #1e241e;

  --color-corduroy-50: #f6f7f6;
  --color-corduroy-100: #e2e5e2;
  --color-corduroy-200: #c4cbc4;
  --color-corduroy-300: #9fa9a0;
  --color-corduroy-400: #7b867d;
  --color-corduroy-500: #5c675e;
  --color-corduroy-600: #4c554e;
  --color-corduroy-700: #3f4641;
  --color-corduroy-800: #353a36;
  --color-corduroy-900: #2e332e;
  --color-corduroy-950: #181b19;

  --color-tasman-50: #f5f8f5;
  --color-tasman-100: #eaefe9;
  --color-tasman-200: #d9e2d8;
  --color-tasman-300: #b3c4b1;
  --color-tasman-400: #89a286;
  --color-tasman-500: #678364;
  --color-tasman-600: #516a4f;
  --color-tasman-700: #435441;
  --color-tasman-800: #374536;
  --color-tasman-900: #2f392e;
  --color-tasman-950: #161d16;

  /** Solar Bloom */

  --color-bridal-heath-50: #fff8f3;
  --color-bridal-heath-100: #ffe7d5;
  --color-bridal-heath-200: #fecbaa;
  --color-bridal-heath-300: #fda774;
  --color-bridal-heath-400: #fb773c;
  --color-bridal-heath-500: #f95316;
  --color-bridal-heath-600: #ea390c;
  --color-bridal-heath-700: #c2280c;
  --color-bridal-heath-800: #9a2112;
  --color-bridal-heath-900: #7c1e12;
  --color-bridal-heath-950: #430c07;

  --color-white-50: #ffffff;
  --color-white-100: #efefef;
  --color-white-200: #dcdcdc;
  --color-white-300: #bdbdbd;
  --color-white-400: #989898;
  --color-white-500: #7c7c7c;
  --color-white-600: #656565;
  --color-white-700: #525252;
  --color-white-800: #464646;
  --color-white-900: #3d3d3d;
  --color-white-950: #292929;

  --color-coral-50: #fff3ed;
  --color-coral-100: #ffe3d4;
  --color-coral-200: #ffc4a9;
  --color-coral-300: #ff8a5b;
  --color-coral-400: #fe6639;
  --color-coral-500: #fc3e13;
  --color-coral-600: #ed2409;
  --color-coral-700: #c51609;
  --color-coral-800: #9c1410;
  --color-coral-900: #7e1310;
  --color-coral-950: #440606;

  --color-chardonnay-50: #fef8ee;
  --color-chardonnay-100: #fdf0d7;
  --color-chardonnay-200: #faddae;
  --color-chardonnay-300: #f7c57c;
  --color-chardonnay-400: #f2a145;
  --color-chardonnay-500: #ef8620;
  --color-chardonnay-600: #e06c16;
  --color-chardonnay-700: #ba5214;
  --color-chardonnay-800: #944118;
  --color-chardonnay-900: #773717;
  --color-chardonnay-950: #401a0a;

  --color-hot-pink-50: #fef1f8;
  --color-hot-pink-100: #fee5f2;
  --color-hot-pink-200: #ffcbe7;
  --color-hot-pink-300: #ffa1d2;
  --color-hot-pink-400: #ff6fb5;
  --color-hot-pink-500: #fa3a92;
  --color-hot-pink-600: #ea186d;
  --color-hot-pink-700: #cc0a54;
  --color-hot-pink-800: #a80c45;
  --color-hot-pink-900: #8c0f3c;
  --color-hot-pink-950: #560120;

  --color-bistre-50: #f6f6f0;
  --color-bistre-100: #e9e6d8;
  --color-bistre-200: #d5d0b3;
  --color-bistre-300: #bcb288;
  --color-bistre-400: #a89867;
  --color-bistre-500: #998759;
  --color-bistre-600: #836f4b;
  --color-bistre-700: #6a563e;
  --color-bistre-800: #5a4939;
  --color-bistre-900: #4f4034;
  --color-bistre-950: #3c2e25;

  --color-sandstone-50: #f5f3f1;
  --color-sandstone-100: #e5e2dc;
  --color-sandstone-200: #ccc7bc;
  --color-sandstone-300: #afa695;
  --color-sandstone-400: #988a77;
  --color-sandstone-500: #897a69;
  --color-sandstone-600: #7d6d5f;
  --color-sandstone-700: #5f5149;
  --color-sandstone-800: #524641;
  --color-sandstone-900: #483e3b;
  --color-sandstone-950: #282120;

  --color-pearl-bush-50: #faf5f2;
  --color-pearl-bush-100: #f0e2d4;
  --color-pearl-bush-200: #e8d2c0;
  --color-pearl-bush-300: #dab497;
  --color-pearl-bush-400: #ca906d;
  --color-pearl-bush-500: #be7651;
  --color-pearl-bush-600: #b16245;
  --color-pearl-bush-700: #934f3b;
  --color-pearl-bush-800: #774135;
  --color-pearl-bush-900: #61362d;
  --color-pearl-bush-950: #331b17;
}
