
@custom-variant default (&:where([data-theme=default], [data-theme=default] *));

[data-theme=default]{
        /* Body */
    --body-bg-color: var(--color-fiord-600) ;
        /* Header  */
    --header-border-color:var(--color-black-pearl-950) ;
    --header-bg-color:var(--color-black-pearl-950) ;

    /* Greetings */
    --greetings-color-1: var(--color-black-pearl-200);
    --greetings-color-2:  var(--color-black-pearl-400);
    --greetings-color-3: var(--color-black-pearl-600);
    --greetings-color-4: var(--color-black-pearl-800) ;
  
    /* Navbar  */ 
    --navbar-logo-color: var(--color-loblolly-300) ; 
    --navbar-link-color: var(--color-mercury-200);
    --navbar-link-hover: var(--color-bermuda-gray-700); 

    

    /* user menu btn*/
    --user-menu-btn-bg-color: var(--color-black-pearl-950);
    --user-menu-btn-bg-hover: var(--color-black-pearl-800); 
    --user-menu-btn-bg-active: var(--color-black-pearl-700);
    --user-menu-btn-border-color: var(--color-black-pearl-950);
    --user-menu-btn-border-hover: var(--color-black-pearl-900);
    --user-menu-btn-border-active: var(--color-black-pearl-800) ;
    --user-menu-btn-shadow: 0 0 2px var(--color-black-pearl-950);
    --user-menu-btn-shadow-hover: 0 0 2px var(--color-black-pearl-400);
    --user-menu-btn-shadow-active: 0 0 2px var(--color-black-pearl-300);
    --user-menu-btn-text-color: var(--color-mercury-200);
    --user-menu-btn-text-hover: var(--color-mercury-400);
    --user-menu-btn-text-active: var(--color-mercury-600);

    --user-menu-container-bg-color: var(--color-loblolly-400);
    --user-menu-container-border-color: var(--color-loblolly-800);
    --user-menu-container-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    --user-menu-item--bg-color: var(--color-fiord-900);
    --user-menu-item--bg-hover: var(--color-fiord-700);
    --user-menu-item--bg-active: var(--color-fiord-400);
    --user-menu-item--text-color: var(--color-bermuda-gray-200);
    --user-menu-item--text-hover: var(--color-bermuda-gray-400);
    --user-menu-item--text-active: var(--color-bermuda-gray-600);
    --user-menu-item--border-color: var(--color-fiord-950);
    --user-menu-item--border-hover: var(--color-fiord-800);
    --user-menu-item--border-active: var(--color-fiord-500);  
    --user-menu-item--shadow:  rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --user-menu-item--shadow-hover:  rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; 
    --user-menu-item--shadow-active:  rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;


    /* Hero Section */


    --hero-bg-color-1:#22d3ee;
    --hero-bg-color-2: #8b5cf6;
    --hero-bg-color-3: rgba(6, 182, 212, 0.3);
    --hero-bg-color-4: rgba(139, 92, 246, 0.3);

    --hero-title-color: var(--color-bermuda-gray-600);
    --hero-title-shadow-color-1: var(--color-fiord-600);
    --hero-title-shadow-color-2: var(--color-fiord-700);
    --hero-title-shadow-color-3: var(--color-fiord-800);
    --hero-title-shadow-color-4: var(--color-fiord-900);
    --hero-title-shadow-color-5: var(--color-bermuda-gray-950);
    --hero-subtitle-color: var(--color-mercury-200);
    
    
    --cta-button-bg: var(--color-fiord-600);
    --cta-button-text: var(--color-fiord-200);
    --cta-button-ball-color: var(--color-fiord-100);
    --cta-button-secondary-bg: var(--header-bg-color);
    --cta-button-secondary-text: var(--color-black-pearl-200);
    
    --hero-developed-color: var(--color-loblolly-300);

    --hero-svg-primary: var(--color-big-stone-500) ;

    /* Features Section */

    
    --features-title-color: var(--color-mercury-300);
    --features-title-shadow: var(--color-mercury-900) 1.95px 1.95px 2.6px;
    --features-subtitle-color: var(--color-bermuda-gray-300);
    
    --featcard-bg-color: var(--color-big-stone-800);
    --featcard-border-color: transparent ;
    --featcard-shadow-color:  rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    --featcard-title-color: #e0e1dd;
    --featcard-description-color: #d0eef2;
  

    /* Demo Section */

    
    --demo-title-color: var(--color-mercury-300);
    --demo-title-shadow:  var(--color-mercury-900) 1.95px 1.95px 2.6px;
    --demo-subtitle-color: var(--color-bermuda-gray-300);
    --demo-figure-border: var(--color-web-orange-500) ;
    --demo-figure-shadow: var(--color-web-orange-400) 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, var(--color-web-orange-300) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, var(--color-web-orange-200) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, var(--color-web-orange-100) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, var(--color-web-orange-50) 40px -40px;
    --demo-figcaption-color: var(--color-mercury-100);
    --demo-figcaption-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;



    
    /* About Section */

    --about-title-color: var(--color-mercury-300);
    --about-title-shadow:  var(--color-mercury-900) 1.95px 1.95px 2.6px;
    --about-text-color: var(--color-bermuda-gray-300);

        /* Develpoer Card */
    --dev-card-bg-color: var(--color-big-stone-950);
    --dev-card-header-bg-color: var(--color-big-stone-800);
    --dev-card-avatar-border-color: var(--color-big-stone-600);
    --dev-card-role-bg-color: var(--color-big-stone-600);
    --dev-card-role-color: var(--color-fiord-200);

    

    --dev-card-title-color: var(--color-fiord-200);
    --dev-card-tech-color: var(--color-fiord-300);

    --dev-card-description-color: var(--color-fiord-300);
 
    --dev-card-contact-color: var(--color-fiord-300);
    --dev-card-social-bg: var(--color-big-stone-800);


    --cta-title-color: var(--color-mercury-300) ;
    --cta-title-shadow: var(--color-mercury-900) 1.95px 1.95px 2.6px;





    

    /* Login Form */
    --login-bg-color: var(--color-big-stone-950) ;
    --login-border-color: var(--color-big-stone-900);
    --login-shadow-color: 0 2px 6px var(--color-big-stone-500);
    
    --login-title-color: var(--color-bermuda-gray-600);
    --redirect-color: var(--color-big-stone-500);
    --redirect-hover: var(--color-big-stone-300);
    --error-msg-color: #faa7ad ;

    /* input-field */
    --input-field-bg-color: var(--color-black-pearl-50);
    --input-field-text-color: var(--color-bermuda-gray-950);
    --input-field-icon-color: var(--color-bermuda-gray-900);
    --input-field-label-color: var(--color-black-pearl-500) ;
    --input-field-placeholder-color: var(--color-black-pearl-900);
    --input-field-error-color: #faa7ad ;


    
    /* submit button */

    --sb-bg-color: var(--color-fiord-700) ;
    --sb-border-color: var(--color-fiord-950);
    --sb-hover-bg-color: var(--color-fiord-900) ;
    --sb-hover-border-color: var(--color-fiord-950);
    --sb-text-color: var(--color-fiord-200);


        /* Register form */
    --register-bg-color: var(--login-bg-color);
    --register-border-color: var(--login-border-color);
  
    --register-title-color: var(--login-title-color); 

    /* Forgot Password Dialog */
    --fpd-bg-color: var(--color-big-stone-900) ;
    --fpd-title-color: var(--color-loblolly-400) ;
    --fpd-description-color: var(--color-loblolly-200) ;


    /* Footer */
    --footer-bg-color: var(--color-black-pearl-950);
    --footer-title-color: var(--color-fiord-600);
    --footer-info-color: var(--color-mercury-300);
    --footer-info-hover: var(--color-loblolly-600);
    --footer-line-color: var(--color-loblolly-900);

    /* Task Card */
    --card-bg-color: var(--color-bermuda-gray-950);
    --card-bg-border: transparent;

    --card-title-color: var(--color-loblolly-200);
    --card-subtitle-color: var(--color-loblolly-500);
    --card-description-bg: var(--color-bermuda-gray-400);
    --card-description-color: var(--color-loblolly-900);

--card-badges-bg: var(--color-black-pearl-800);
--card-badges-label-color: var(--color-loblolly-300);
    --card-priority-color: #03050b;

    --card-priority-high-border: #e17a47;
    --card-priority-medium-border: #efc958;
    --card-priority-low-border: #41b19d;
    --card-priority-urgent-border: #ef3d59;
    --card-priority-optional-border: #344e5c;

    --card-priority-high-bg: #e17a47 ;
    --card-priority-medium-bg: #efc958 ;
    --card-priority-low-bg: #41b19c;
    --card-priority-urgent-bg: #ef3d58 ;
    --card-priority-optional-bg: #344e5c;

    --card-badge-expired-bg: #b10f1164;
    --card-badge-expired-text: #f94144 ;
    --card-badge-deadline-bg: #85631262 ;
    --card-badge-deadline-text: #f9c74f ;
    --card-badge-intime-bg: #096e4e6a ;
    --card-badge-intime-text: #43aa8b;

    --card-status-todo-bg: var(--color-loblolly-50);
    --card-status-inprogress-bg: var(--color-loblolly-100);
    --card-status-inreview-bg: var(--color-loblolly-200);
    --card-status-done-bg: var(--color-loblolly-300);
    
    --card-footer-btn-bg: var(--color-black-pearl-200);
    --card-footer-btn-bg-hover: var(--color-black-pearl-900);
    --card-footer-btn-color: var(--color-loblolly-900);
    --card-footer-btn-color-hover: var(--color-loblolly-300);
    --card-footer-btn-border: var(--color-black-pearl-400);
    --card-footer-btn-border-hover: var(--color-black-pearl-950);

    --card-delete-btn-color: #fa3a3a; 
    --card-edit-btn-color:#00cecb;
    --card-details-btn-color: #fbf2c0;


    /* Task Column*/
    --column-bg: #14213d;
    --column-border: transparent;
    --column-border-hover: var(--color-web-orange-500);
    --column-header-bg: var(--color-web-orange-500) ;
  
    --column-title-color: #14213d;
    --column-empty-color: var(--color-bermuda-gray-400);
    --column-dragging-color: var(--color-bermuda-gray-950) ;

    /* Dashboard Page Actions */
    --dashboard-page-title-color: var(--color-mercury-300);
    --dashboard-new-task-btn-bg-color: var(--color-black-pearl-950);
    --dashboard-new-task-btn-hover-bg-color: var(--color-black-pearl-700);
    --dashboard-new-task-btn-text-color: var(--color-mercury-300);
    

    /* Task Filter */
    --task-filter-trigger-bg-color: var(--color-black-pearl-950) ;
    --task-filter-trigger-bg-hover: var(--color-black-pearl-700);
    --task-filter-trigger-bg-sctive: var(--color-black-pearl-500);
    --task-filter-trigger-text-color: var(--color-mercury-300);
    --task-filter-trigger-text-hover: var(--color-mercury-200);
    --task-filter-trigger-text-active: var(--color-mercury-100);
    --task-filter-trigger-border-color: var(--color-mercury-300);
    --task-filter-trigger-border-hover: var(--color-mercury-200);
    --task-filter-trigger-border-active: var(--color-mercury-100);
    --task-filter-trigger-box-shadow:  rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    --task-filter-trigger-box-shadow-hover:  rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; 
    --task-filter-trigger-box-shadow-active: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset ;

    --task-filter-content-bg-color: var(--color-bermuda-gray-700);

    --task-filter-item-bg-color: var(--color-bermuda-gray-900);
    --task-filter-item-bg-hover: var(--color-bermuda-gray-800);
    --task-filter-item-bg-active: var(--color-bermuda-gray-700);
    --task-filter-item-text-color: var(--color-bermuda-gray-300);
    --task-filter-item-text-hover: var(--color-bermuda-gray-200);
    --task-filter-item-text-active: var(--color-bermuda-gray-100);
    --task-filter-item-border-color: var(--color-bermuda-gray-950);
    --task-filter-item-border-hover: var(--color-bermuda-gray-900);
    --task-filter-item-border-active: var(--color-bermuda-gray-800);
    --task-filter-item-box-shadow:  rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    --task-filter-item-box-shadow-hover:  rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    --task-filter-item-box-shadow-active: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;



    /* Task Form Dialog */ 

    --task-form-dialog-bg: var(--color-big-stone-200);
    --task-form-dialog-header-bg: var(--color-big-stone-800);
    --task-form-dialog-title-color: var(--color-fiord-200); 
    --task-form-dialog-description-color: var(--color-fiord-100);

    
    --task-form-item-label-color:  var(--color-fiord-700);
    --task-form-input-bg: var(--color-big-stone-800);
    --task-form-input-border-color: var(--color-big-stone-950) ;
    --task-form-input-text-color: var(--color-fiord-200);

    --task-form-select-trigger-bg: var(--color-black-pearl-900) ;
    --task-form-select-trigger-bg-hover: var(--color-black-pearl-700);
    --task-form-select-trigger-border-color: var(--color-black-pearl-950) ;
    --task-form-select-trigger-border-color-hover: var(--color-black-pearl-900) ;
    --task-form-select-trigger-text-color: var(--color-fiord-200) ;
    --task-form-select-trigger-text-color-hover: var(--color-fiord-100) ;

    --task-form-select-content-bg:var(--color-black-pearl-400) ;
    --task-form-select-content-border-color: var(--color-black-pearl-500);
    --task-form-select-item-bg: var(--color-black-pearl-900) ;
    --task-form-select-item-bg-hover: var(--color-black-pearl-700) ;
    --task-form-select-item-text-color: var(--color-mercury-300) ;
    --task-form-select-item-text-color-hover: var(--color-mercury-100) ;
    --task-form-select-item-border-color: var(--color-black-pearl-950) ;
    --task-form-select-item-border-color-hover: var(--color-black-pearl-800) ;

    --task-form-dialog-datepicker-trigger-bg: var(--color-black-pearl-900) ;
    --task-form-dialog-datepicker-trigger-bg-hover: var(--color-black-pearl-700);
    --task-form-dialog-datepicker-trigger-border: var(--color-black-pearl-950) ;
    --task-form-dialog-datepicker-trigger-border-hover: var(--color-black-pearl-900) ;
    --task-form-dialog-datepicker-trigger-text: var(--color-mercury-300);
    --task-form-dialog-datepicker-trigger-text-hover: var(--color-mercury-200);
    --task-form-dialog-datepicker-clear-button-text: var(--color-mercury-100);


    --task-form-dialog-cancel-button-bg: var(--color-black-pearl-100);
    --task-form-dialog-cancel-button-bg-hover: var(--color-black-pearl-300);
    --task-form-dialog-cancel-button-text: var(--color-fiord-950);
    --task-form-dialog-cancel-button-text-hover: var(--color-fiord-900);
    --task-form-dialog-cancel-button-border: var(--color-black-pearl-50);
    --task-form-dialog-cancel-button-border-hover:var(--color-black-pearl-200) ;

    --task-form-dialog-submit-button-bg: var(--color-big-stone-900);
    --task-form-dialog-submit-button-bg-hover:var(--color-big-stone-700);
    --task-form-dialog-submit-button-text: var(--color-fiord-200);
    --task-form-dialog-submit-button-text-hover: var(--color-fiord-100);
    --task-form-dialog-submit-button-border: var(--color-big-stone-950);
    --task-form-dialog-submit-button-border-hover: var(--color-big-stone-800) ;

    /* date picker  */
    --date-picker-bg: var(--color-mercury-100);
    --date-picker-text-color: var(--color-big-stone-900);
    --date-picker-btn-color: var(--color-big-stone-800);
    --date-picker-btn-color-hover: var(--color-big-stone-950);
    --date-picker-weekday-color: var(--color-mercury-800);
    
    --date-picker-day-text-color: var(--color-mercury-900);
    --date-picker-day-hover-bg: var(--color-mercury-800);
    --date-picker-day-hover-text-color: var(--color-mercury-200);

    --date-picker-day-selected-bg: var(--color-big-stone-800);
    --date-picker-day-selected-text-color: var(--color-mercury-300);
    --date-picker-day-selected-outside-text-color: var(--color-mercury-500);

    --date-picker-day-disabled-text-color: var(--color-mercury-300);
    --date-picker-day-outside-text-color: var(--color-mercury-300);
    --date-picker-day-focus-ring-color: var(--color-big-stone-500);

    --date-picker-range-middle-bg: var(--color-big-stone-600);
    --date-picker-range-middle-text-color: var(--color-mercury-100);

    --date-picker-today-indicator-bg: var(--color-web-orange-400);
    --date-picker-today-indicator-selected-bg: var(--color-web-orange-600);
    --date-picker-today-indicator-disabled-bg: var(--color-web-orange-200);

    --date-picker-outside-day-selected-bg: #3486c380;
    --date-picker-outside-day-selected-text-color: #e5eff9;
    --date-picker-week-number-text-color: #a9bbd0cc;


    --delete-dialog-bg: var(--color-black-pearl-950);
    --delete-dialog-border-color: var(--color-black-pearl-900);
    --delete-dialog-header-bg: var(--color-black-pearl-800);
    --delete-dialog-title-color: var(--color-loblolly-100); 
    --delete-dialog-description-color: var(--color-loblolly-500);
    --delete-dialog-cancel-btn-bg: var(--color-black-pearl-100);
    --delete-dialog-cancel-btn-bg-hover: var(--color-black-pearl-300);
    --delete-dialog-cancel-btn-color: var(--color-loblolly-800);
    --delete-dialog-cancel-btn-color-hover: var(--color-loblolly-900);
    --delete-dialog-cancel-btn-border: var(--color-black-pearl-50);
    --delete-dialog-cancel-btn-border: var(--color-black-pearl-200) ;
    --delete-dialog-confirm-btn-bg: #fa3a3a;
    --delete-dialog-confirm-btn-hover-bg: #fa3a3a9e ;
    --delete-dialog-confirm-btn-color: var(--color-loblolly-200);
    --delete-dialog-confirm-btn-hover-color: var(--color-loblolly-50);
    --delete-dialog-confirm-btn-border: #fa3a3a98 ;
    --delete-dialog-confirm-btn-hover-border: #fa3a3a ;

    /* settings page */
    --profile-title-color: var(--color-mercury-100);
    --profile-title-shadow: 0 2px 6px var(--color-mercury-300);
    --profile-subtitle-color: var(--color-mercury-400) ;
    
    --preferences-title-color: var(--color-mercury-100);
    --preferences-title-shadow: 0 2px 6px var(--color-mercury-300);
    --preferences-subtitle-color: var(--color-mercury-400);

    --preferences-theme-title-color: var(--color-loblolly-200);
    --preferences-theme-title-shadow: 0 2px 6px var(--color-loblolly-500);
    --preferences-theme-box-bg-color: var(--color-black-pearl-700);
    --preferences-theme-box-border-color: var(--color-black-pearl-900);
    --preferences-theme-box-shadow:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    --preferences-theme-btn-bg-color: var(--color-bermuda-gray-100);
    --preferences-theme-btn-bg-hover: var(--color-bermuda-gray-800);
    --preferences-theme-btn-bg-active: var(--color-big-stone-950);
    --preferences-theme-btn-border-color: var(--color-bermuda-gray-900);
    --preferences-theme-btn-border-hover: var(--color-bermuda-gray-950) ;
    --preferences-theme-btn-border-active: var(--color-web-orange-500) ;
    --preferences-theme-btn-shadow:  rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
    --preferences-theme-btn-shadow-hover:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --preferences-theme-btn-shadow-active: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    --preferences-theme-btn-text-color: var(--color-loblolly-800);
    --preferences-theme-btn-text-hover: var(--color-loblolly-200);
    --preferences-theme-btn-text-active: var(--color-web-orange-500) ;

    --switch-thumb-checked-color: var(--color-big-stone-950) ;
--switch-track-checked-color: var(--color-mercury-100);

    
    
    --security-title-color: var(--color-mercury-100);
    --security-title-shadow: 0 2px 6px var(--color-mercury-300);
    --security-subtitle-color: var(--color-mercury-400);

    --danger-zone-bg-color: var(--color-web-orange-500);
    --danger-zone-border-color: var(--color-web-orange-400);
    --danger-zone-shadow: 0 2px 6px var(--color-web-orange-300);
    --danger-zone-title-color: var(--color-black-pearl-950);
    --danger-zone-title-shadow: 0 2px 6px var(--color-black-pearl-800);
    --danger-zone-subtitle-color: var(--color-black-pearl-900);

    --danger-zone-btn-bg-color: #fa3a3a ;
    --danger-zone-btn-bg-hover: #fa3a3a9e;
    --danger-zone-btn-bg-active: #fa3a3ad2 ;
    --danger-zone-btn-border-color: #fa3a3a ;
    --danger-zone-btn-border-hover: #fa3a3a;
    --danger-zone-btn-border-active: #fa3a3a98 ;
    --danger-zone-btn-shadow:   rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    --danger-zone-btn-shadow-hover:  rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px ;
    --danger-zone-btn-shadow-active:  rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset ;
    --danger-zone-btn-text-color: var(--color-loblolly-200) ;
    --danger-zone-btn-text-hover: var(--color-loblolly-50) ;
    --danger-zone-btn-text-active: var(--color-loblolly-100) ;

    --reset-page-bg: var(--color-big-stone-200) ;
    --reset-form-bg: var(--color-big-stone-800) ;
    --reset-form-border: var(--color-big-stone-950);
    --reset-form-shadow:  rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --reset-form-title-color: var(--color-fiord-300); 

    ::-webkit-scrollbar-thumb {
    background: var(--color-black-pearl-600);
  }

  * {
    scrollbar-color: var(--color-black-pearl-600);
  }
}

@custom-variant neon-flow (&:where([data-theme=neon-flow], [data-theme=neon-Flow] *));

[data-theme=neon-Flow]{
    --body-bg-color: var(--color-cinder-950); 
}

@custom-variant cloudy-focus (&:where([data-theme=cloudy-focus], [data-theme=cloudy-focus] *));

[data-theme=cloudy-focus]{
    --body-bg-color: var(--color-zircon-100); 
}

@custom-variant after-hours (&:where([data-theme=after-hours], [data-theme=after-hours] *));

[data-theme=after-hours]{
    --body-bg-color: var(--color-woodsmoke-950); 
}

@custom-variant forest-calm (&:where([data-theme=forest-Calm], [data-theme=forest-Calm] *));

[data-theme=forest-Calm]{
    --body-bg-color: var(--color-snow-drift-50); 
}

@custom-variant solar-bloom (&:where([data-theme=solar-bloom], [data-theme=solar-bloom] *));

[data-theme=solar-bloom]{
    --body-bg-color: var(--color-bridal-heath-100)
}