
@custom-variant default (&:where([data-theme=default], [data-theme=default] *));

[data-theme=default]{
        /* Body */
    --body-bg-color: var(--color-fiord-600) ;
        /* Header  */
    --header-border-color:var(--color-black-pearl-950) ;
    --header-bg-color:var(--color-black-pearl-950) ;

    /* Greetings */
    --greetings-color-1: #05f2db;
    --greetings-color-2:  #4679b1;
    --greetings-color-3: #0600ab;
    --greetings-color-4: #d9048e ;


  
    /* Navbar  */ 
    --navbar-logo-color: var(--color-loblolly-300) ; 
    --navbar-link-color: var(--color-mercury-200);
    --navbar-link-hover: var(--color-bermuda-gray-700); 

    

    /* user menu btn*/
    --user-menu-btn-bg-color: var(--color-black-pearl-950);
    --user-menu-btn-bg-hover: var(--color-black-pearl-800); 
    --user-menu-btn-bg-active: var(--color-black-pearl-700);
    --user-menu-btn-border-color: var(--color-black-pearl-950);
    --user-menu-btn-border-hover: var(--color-black-pearl-900);
    --user-menu-btn-border-active: var(--color-black-pearl-800) ;
    --user-menu-btn-shadow: 0 0 2px var(--color-black-pearl-950);
    --user-menu-btn-shadow-hover: 0 0 2px var(--color-black-pearl-400);
    --user-menu-btn-shadow-active: 0 0 2px var(--color-black-pearl-300);
    --user-menu-btn-text-color: var(--color-mercury-200);
    --user-menu-btn-text-hover: var(--color-mercury-400);
    --user-menu-btn-text-active: var(--color-mercury-600);

    --user-menu-container-bg-color: var(--color-loblolly-400);
    --user-menu-container-border-color: var(--color-loblolly-800);
    --user-menu-container-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    --user-menu-item--bg-color: var(--color-fiord-900);
    --user-menu-item--bg-hover: var(--color-fiord-700);
    --user-menu-item--bg-active: var(--color-fiord-400);
    --user-menu-item--text-color: var(--color-bermuda-gray-200);
    --user-menu-item--text-hover: var(--color-bermuda-gray-400);
    --user-menu-item--text-active: var(--color-bermuda-gray-600);
    --user-menu-item--border-color: var(--color-fiord-950);
    --user-menu-item--border-hover: var(--color-fiord-800);
    --user-menu-item--border-active: var(--color-fiord-500);  
    --user-menu-item--shadow:  rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --user-menu-item--shadow-hover:  rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; 
    --user-menu-item--shadow-active:  rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;


    /* Hero Section */


    --hero-bg-color-1:#22d3ee;
    --hero-bg-color-2: #8b5cf6;
    --hero-bg-color-3: rgba(6, 182, 212, 0.3);
    --hero-bg-color-4: rgba(139, 92, 246, 0.3);

    --hero-title-color: var(--color-bermuda-gray-600);
    --hero-title-shadow-color-1: var(--color-fiord-600);
    --hero-title-shadow-color-2: var(--color-fiord-700);
    --hero-title-shadow-color-3: var(--color-fiord-800);
    --hero-title-shadow-color-4: var(--color-fiord-900);
    --hero-title-shadow-color-5: var(--color-bermuda-gray-950);
    --hero-subtitle-color: var(--color-mercury-200);
    
    
    --cta-button-bg: var(--color-fiord-600);
    --cta-button-text: var(--color-fiord-200);
    --cta-button-ball-color: var(--color-fiord-100);
    --cta-button-secondary-bg: var(--header-bg-color);
    --cta-button-secondary-text: var(--color-black-pearl-200);
    
    --hero-developed-color: var(--color-loblolly-300);

    --hero-svg-primary: var(--color-big-stone-500) ;

    /* Features Section */

    
    --features-title-color: var(--color-mercury-300);
    --features-title-shadow: var(--color-mercury-900) 1.95px 1.95px 2.6px;
    --features-subtitle-color: var(--color-bermuda-gray-300);
    
    --featcard-bg-color: var(--color-big-stone-800);
    --featcard-border-color: transparent ;
    --featcard-shadow-color:  rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
    --featcard-title-color: #e0e1dd;
   
    --featcard-description-color: #d0eef2;

  

    /* Demo Section */

    --demo-title-font: 'Lato', sans-serif;
    --demo-title-color: #e0e1dd;
    --demo-title-shadow: 0 2px 6px #415a77;
    --demo-subtitle-font: 'Lato', sans-serif;
    --demo-subtitle-color: #e0e1dd;
    --demo-figure-border:#1b263b ;
    --demo-figure-shadow: 0 2px 6px #415a77;
    --demo-figcaption-color: #e0e1dd;
    --demo-figcaption-font: 'Lato', sans-serif;

    
    /* About Section */
    --about-title-font: 'Lato', sans-serif;
    --about-title-color: #e0e1dd;
    --about-title-shadow: 0 2px 6px #415a77;
    --about-text-font: 'Lato', sans-serif;
    --about-text-color: #e0e1dd;


        /* Develpoer Card */
    --dev-card-bg-color: #001c1c;
    --dev-card-header-bg-color: #008e8e;
    --dev-card-avatar-border-color: #008e8e;
    --dev-card-role-bg-color: #008e8e;
    --dev-card-role-color: #00e3e3;
    --dev-card-role-font: 'Electrolize', sans-serif;
    
    --dev-card-title-font: "Tech", monospace;
    --dev-card-title-color: #00e3e3;
    --dev-card-tech-color: #00e3e3;
    --dev-card-tech-font: 'Lato', sans-serif;
    --dev-card-description-font: 'Lato', sans-serif;
    --dev-card-description-color: #e0e1dd;
    --dev-card-stack-font: 'Lato', sans-serif;
    --dev-card-stack-color: #e0e1dd;
    --dev-card-contact-font: 'Lato', sans-serif;
    --dev-card-contact-color: #e0e1dd;

    --cta-title-font: 'Lato', sans-serif;
    --cta-title-color: #e0e1dd;
    --cta-title-shadow: 0 2px 6px #415a77;





    

    /* Login Form */
    --login-bg-color: var(--color-big-stone-950) ;
    --login-border-color: var(--color-big-stone-900);
    --login-shadow-color: 0 2px 6px var(--color-big-stone-500);
    
    --login-title-color: var(--color-bermuda-gray-600);
    --redirect-color: var(--color-big-stone-500);
    --redirect-hover: var(--color-big-stone-300);
    --error-msg-color: #faa7ad ;

    /* input-field */
    --input-field-bg-color: var(--color-black-pearl-50);
    --input-field-text-color: var(--color-bermuda-gray-950);
    --input-field-icon-color: var(--color-bermuda-gray-900);
    --input-field-label-color: var(--color-black-pearl-500) ;
    --input-field-placeholder-color: var(--color-black-pearl-900);
    --input-field-error-color: #faa7ad ;


    
    /* submit button */

    --sb-bg-color: var(--color-fiord-700) ;
    --sb-border-color: var(--color-fiord-950);
    --sb-hover-bg-color: var(--color-fiord-900) ;
    --sb-hover-border-color: var(--color-fiord-950);
    --sb-text-color: var(--color-fiord-200);


        /* Register form */
    --register-bg-color: var(--login-bg-color);
    --register-border-color: var(--login-border-color);
    --register-title-font: 'Orbitron', sans-serif;
    --register-title-color: var(--login-title-color); 

    /* Forgot Password Dialog */
    --fpd-bg-color: var(--login-bg-color) ;
    --fgd-link-color: #05f2c7;
    --fpd-link-hover: #0073a5;
    --fpd-title-font: Lato, sans-serif;
    --fpd-title-color: #c6ccd0 ;
    --fpd-description-font: RedHat, monospace;
    --fpd-description-color: #415a77 ;


    


    /* Footer */
    --footer-bg-color: #0d1b2a;
    --footer-title-color: #415a77;
    --footer-title-font: 'Playfair', serif;
    --footer-info-font: 'Lato',sans-serif;
    --footer-info-color: #e0e1dd;
    --footer-info-hover: #778da9;
    --footer-line-color: #1b263b;

    /* Task Card */
    --card-bg-color: #1f2a36;
    --card-title-color: #f5f7fa;
    --card-title-font: 'Lato', sans-serif;
    --card-priority-color: #b0bec5;
    --card-priority-font: 'Lato', sans-serif;

    --card-priority-high-bg: #e17a47;
    --card-priority-medium-bg: #efc958;
    --card-priority-low-bg: #41b19d;
    --card-priority-urgent-bg: #ef3d59;
    --card-priority-optional-bg: #344e5c;

    --card-status-todo-bg: #fdb813;
    --card-status-inprogress-bg: #3498db;
    --card-status-inreview-bg: #9b59b6;
    --card-status-done-bg: #1abc9c;

    /* Task Column*/
    --column-bg: #14213d;
    --column-border: transparent;
    --column-border-hover: #fca311;
    --column-header-bg: #fca311 ;
    --column-title-font: 'Lato', sans-serif;
    --column-title-color: #14213d;
    --column-empty-color: rgba(255, 255, 255, 0.2);
    --column-dragging-color: #0a111f ;

    /* Task Filter */
    --task-filter-trigger-bg-color: ;
    --task-filter-trigger-bg-hover: #1b263b;
    --task-filter-trigger-bg-sctive: ;
    --task-filter-trigger-text-color: #e0e1dd;
    --task-filter-trigger-text-font: 'Lato', sans-serif;
    --task-filter-trigger-text-hover: #778da9;
    --task-filter-trigger-text-active: ;
    --task-filter-trigger-border-color: ;
    --task-filter-trigger-border-hover: ;
    --task-filter-trigger-border-active: ;
    --task-filter-trigger-box-shadow: ;
    --task-filter-trigger-box-shadow-hover: ;
    --task-filter-trigger-box-shadow-active: ;

    --task-filter-content-bg-color: white;

    --task-filter-item-bg-color: ;
    --task-filter-item-bg-hover: ;
    --task-filter-item-bg-active: ;
    --task-filter-item-text-color: ;
    --task-filter-item-text-font: ;
    --task-filter-item-text-hover: ;
    --task-filter-item-text-active: ;
    --task-filter-item-border-color: ;
    --task-filter-item-border-hover: ;
    --task-filter-item-border-active: ;
    --task-filter-item-box-shadow: ;
    --task-filter-item-box-shadow-hover: ;
    --task-filter-item-box-shadow-active: ;



    /* Task Form Dialog */ 

    --task-form-dialog-bg: rgba(255, 255, 255, 0.5);
    --task-form-dialog-header-bg: #1b263b;
    --task-form-dialog-title-color: #e0e1dd; 
    --task-form-dialog-title-font: 'Electrolize', sans-serif;
    --task-form-dialog-description-color: #778da9;
    --task-form-dialog-description-font: 'Poppins', sans-serif;
    
    --task-form-dialog-datepicker-trigger-bg: #1b263b ;
    --task-form-dialog-datepicker-trigger-text: #1b263b;
    --task-form-dialog-datepicker-trigger-text-hover: #e0e1dd;
    --task-form-dialog-datepicker-clear-button-text: #e0e1dd;


    --task-form-dialog-cancel-button-bg: transparent;
    --task-form-dialog-cancel-button-bg-hover: #e0e1dd;
    --task-form-dialog-cancel-button-text: #0d1b2a;
    --task-form-dialog-cancel-button-text-hover: #0d1b2a;
    --task-form-dialog-cancel-button-border: #e0e1dd;

    --task-form-dialog-submit-button-bg: #415a77;
    --task-form-dialog-submit-button-bg-hover:#0d1b2a;
    --task-form-dialog-submit-button-text: #e0e1dd;

    /* A cor do texto de erro de validação */
    --task-form-dialog-error-text: var(--destructive);



    /* settings page */

    --profile-title-color: #e0e1dd;
    --profile-title-font: 'Lato', sans-serif;
    --profile-title-shadow: 0 2px 6px #415a77;
    --profile-subtitle-color: #e0e1dd;
    --profile-subtitle-font: 'Lato', sans-serif;
    
    --preferences-title-color: #e0e1dd;
    --preferences-title-font: 'Lato', sans-serif;
    --preferences-title-shadow: 0 2px 6px #415a77;
    --preferences-subtitle-color: #e0e1dd;
    --preferences-subtitle-font: 'Lato', sans-serif;

    --preferences-theme-title-color: #e0e1dd;
    --preferences-theme-title-font: 'Lato', sans-serif;
    --preferences-theme-title-shadow: 0 2px 6px #415a77;
    --preferences-theme-box-bg-color: #0d1b2a;
    --preferences-theme-box-border-color: #1b263b;
    --preferences-theme-box-shadow: 0 2px 6px #415a77;
    --preferences-theme-btn-bg-color: #0d1b2a;
    --preferences-theme-btn-bg-hover: #1b263b;
    --preferences-theme-btn-bg-active: ;
    --preferences-theme-btn-border-color: #1b263b;
    --preferences-theme-btn-border-hover: ;
    --preferences-theme-btn-border-active: ;
    --preferences-theme-btn-shadow: ;
    --preferences-theme-btn-shadow-hover: ;
    --preferences-theme-btn-shadow-active: ;
    --preferences-theme-btn-text-color: #e0e1dd;
    --preferences-theme-btn-text-hover: #778da9;
    --preferences-theme-btn-text-active: ;
    --preferences-theme-btn-text-font: 'Lato', sans-serif;

    --security-title-color: #e0e1dd;
    --security-title-font: 'Lato', sans-serif;
    --security-title-shadow: 0 2px 6px #415a77;
    --security-subtitle-color: #e0e1dd;
    --security-subtitle-font: 'Lato', sans-serif;

    --danger-zone-bg-color: #0d1b2a;
    --danger-zone-border-color: #1b263b;
    --danger-zone-shadow: 0 2px 6px #415a77;
    --danger-zone-title-color: #e0e1dd;
    --danger-zone-title-font: 'Lato', sans-serif;
    --danger-zone-title-shadow: 0 2px 6px #415a77;
    --danger-zone-subtitle-color: #e0e1dd;
    --danger-zone-subtitle-font: 'Lato', sans-serif;

    --delete-acc-btn-bg-color: #0d1b2a;
    --delete-acc-btn-bg-hover: #1b263b;
    --delete-acc-btn-bg-active: ;
    --delete-acc-btn-border-color: #1b263b;
    --delete-acc-btn-border-hover: ;
    --delete-acc-btn-border-active: ;
    --delete-acc-btn-shadow: ;
    --delete-acc-btn-shadow-hover: ;
    --delete-acc-btn-shadow-active: ;
    --delete-acc-btn-text-color: #e0e1dd;
    --delete-acc-btn-text-hover: #778da9;
    --delete-acc-btn-text-active: ;
    --delete-acc-btn-text-font: 'Lato', sans-serif;

    --delete-dialog-bg: rgba(255, 255, 255, 0.5);
    --delete-dialog-border-color: #1b263b;
    --delete-dialog-header-bg: #1b263b;
    --delete-dialog-title-color: #e0e1dd; 
    --delete-dialog-title-font: 'Electrolize', sans-serif;
    --delete-dialog-description-color: #778da9;
    --delete-dialog-description-font: 'Poppins', sans-serif;
    --delete-dialog-cancel-btn-bg: transparent;
    --delete-dialog-cancel-btn-bg-hover: #e0e1dd;
    --delete-dialog-cancel-btn-text: #0d1b2a;
    --delete-dialog-cancel-btn-text-hover: #0d1b2a;
    --delete-dialog-cancel-btn-border: #e0e1dd;
    --delete-dialog-cancel-btn-border: ;
    --delete-dialog-cancel-btn-text-font: 'Lato', sans-serif;


    --reset-form-bg: rgba(255, 255, 255, 0.5);
    --reset-form-border: #1b263b;
    --reset-form-shadow: 0 2px 6px #415a77;
    --reset-form-title-color: #e0e1dd; 
    --reset-form-title-font: 'Electrolize', sans-serif; 

    ::-webkit-scrollbar-thumb {
    background: var(--color-black-pearl-300);
  }

  * {
    scrollbar-color: var(--color-black-pearl-300);
  }
}

@custom-variant neon-flow (&:where([data-theme=neon-flow], [data-theme=neon-Flow] *));

[data-theme=neon-Flow]{
    --body-bg-color: var(--color-cinder-950); 
}

@custom-variant cloudy-focus (&:where([data-theme=cloudy-focus], [data-theme=cloudy-focus] *));

[data-theme=cloudy-focus]{
    --body-bg-color: var(--color-zircon-100); 
}

@custom-variant after-hours (&:where([data-theme=after-hours], [data-theme=after-hours] *));

[data-theme=after-hours]{
    --body-bg-color: var(--color-woodsmoke-950); 
}

@custom-variant forest-calm (&:where([data-theme=forest-Calm], [data-theme=forest-Calm] *));

[data-theme=forest-Calm]{
    --body-bg-color: var(--color-snow-drift-50); 
}

@custom-variant solar-bloom (&:where([data-theme=solar-bloom], [data-theme=solar-bloom] *));

[data-theme=solar-bloom]{
    --body-bg-color: var(--color-bridal-heath-100)
}