.spinnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 80dvh; 
}

.spinnerText {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--column-header-bg);
}