.dialogContent {
    background-color: var(--card-bg-color);
    min-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
}



.dialogTitle {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--card-title-color);
    font-family: var(--card-title-font);
}

.dialogDescription {
    font-size: 1.4rem;
    color: #dbe0fa;
    margin-top: 0.5rem;
}

.detailsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    padding: 2rem 0.5rem;
    border-bottom: 1px solid var(--border);
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    border-radius: 1rem;
}

.detailItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.detailLabel {
    font-size: 1.4rem;
    font-weight: 500;
    color: #37495c;
    text-transform: uppercase;
    font-family: var(--card-priority-font);
}

.detailValue {
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.4rem 1rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    font-weight: 400;
    width: fit-content;
    background-color: #37495c;
    color: var(--card-title-color);
    font-family: var(--card-title-font);
}


.descriptionSection {
padding: 1rem 2rem;
background-color: var(--card-priority-color);
box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 1rem;
    width: 100%;

}

.descriptionText {
    font-size: 1.6rem;
    color: var(--card-bg-color);
    line-height: 1.6;
    white-space: pre-wrap;
}


.urgent { background-color: var(--card-priority-urgent-bg); }
.high { background-color: var(--card-priority-high-bg); }
.medium { background-color: var(-card-priority-medium-bg-) ; color: var(--card-bg-color); }
.low { background-color: var(--card-priority-low-bg); }
.optional { background-color: var(--card-priority-optional-bg);}

.todo { background-color: var(--card-status-todo-bg); }
.inprogress { background-color: var(--card-status-inprogress-bg); }
.inreview { background-color: var(--card-status-inreview-bg); }
.done { background-color: var(--card-status-done-bg); }


.dialogFooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
}

.dialogFooter button{
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.6rem;
    background-color: var(--card-priority-color);
    color: #37495c;
    border: 2px solid #37495c;
    cursor: pointer;
    font-family: var(--card-priority-font);

    &:hover, &:focus, &:active {
        background-color: #37495c;
        color: var(--card-priority-color);
        border: 2px solid var(--card-priority-color);
    }
}
