.dialogContent {
    background-color: var(--card-bg-color);
    border: 2px solid var(--card-border-color);
    min-width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
    border-radius: 2rem;

}



.dialogTitle {
    font-size: 2.4rem;
    font-weight: 800;
    color: var(--card-title-color);
    font-family: var(--card-title-font);
}

.dialogSubtitle {
    font-size: 1.2rem;
    align-self: flex-start;
    font-weight: 600;
    color: var(--card-subtitle-color);
    font-family: var(--card-subtitle-font);
    margin-top: 0.5rem;
}

.badges {
display: flex;
justify-content: space-evenly;
align-items: center;
    gap: 2rem;
    padding: 2rem 0.5rem;
    background-color: var(--card-badges-bg);
    width: 100%;
    border-radius: 1rem;
}

.detailItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.detailLabel {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--card-badges-label-color);
    text-transform: uppercase;
    font-family: var(--card-badges-label-font);
}

.detailValue {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding: 0.4rem 1rem;
    border-radius: 9999px;
    font-size: 1.4rem;
    font-weight: 400;
    width: fit-content;
    color: var(--card-priority-color);
    font-family: var(--card-badges-value-font);
}

.urgent { background-color: var(--card-priority-urgent-bg); }
.high { background-color: var(--card-priority-high-bg); }
.medium { background-color: var(--card-priority-medium-bg); }
.low { background-color: var(--card-priority-low-bg); }
.optional { background-color: var(--card-priority-optional-bg);}

.todo { background-color: var(--card-status-todo-bg); }
.inprogress { background-color: var(--card-status-inprogress-bg); }
.inreview { background-color: var(--card-status-inreview-bg); }
.done { background-color: var(--card-status-done-bg); }

.intime { 
    background-color: var(--card-badge-intime-bg); 
    color: var(--card-badge-intime-text);
}

.deadline { 
    background-color: var(--card-badge-deadline-bg); 
    color: var(--card-badge-deadline-text);
}

.expired{ 
    background-color: var(--card-badge-expired-bg); 
    color: var(--card-badge-expired-text);
}




.descriptionSection {
padding: 1rem 2rem;
background-color: var(--card-description-bg);
box-shadow:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
border-radius: 16px;
margin-top: 1rem;
width: 100%;
}

.descriptionText {
    font-size: 1.6rem;
    color: var(--card-description-color);
    font-family: var(--card-description-font);
    font-weight: 400;
    line-height: 1.6;
    white-space: pre-wrap;
}





.dialogFooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
}

.dialogFooter button{
    padding: 1rem 2rem ;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 1rem;
    font-size: 1.6rem;
    background-color: var(--card-footer-btn-bg);
    color: var(--card-footer-btn-color);
    border: 2px solid (--card-footer-btn-border);
    cursor: pointer;
    font-family: var(--card-footer-btn-font);

    &:hover, &:focus, &:active {
        background-color: var(--card-footer-btn-bg-hover);
        color: var(--card-footer-btn-color-hover);
        border-color: var(--card-footer-btn-border-hover);
    }
}


@media screen and (max-width: 520px) {

    .dialogContent{
        width: 300px;
        min-width: auto;
        padding: 1rem;
    }

    .dialogTitle {
    font-size: 1.6rem;
    }

    .dialogSubtitle {
    font-size: 1rem;
    }

    .badges{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        gap: 0.5rem;
    }

    .detailItem{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .descriptionText{
        font-size: 1.2rem;
    }

    .dialogFooter button  span{
        display: none;
    }

    .dialogFooter{

padding: 0;
        gap: 0.5rem;
    }
}