.label {
    font-size: 1.4rem;
    color: var(--input-field-label-color);
    text-shadow: 0px 1px 2px var(--input-field-label-color);
    font-family: var(--input-field-label-font);
    font-weight: 500;
    margin: 0 0 1rem 1rem;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: var(--input-field-bg-color);
  width: 100%;
  border-radius: 1rem; 
  border: 1px solid var(--input-field-border-color-default);
  box-shadow: 0 1px 4px var(--input-field-border-color-default);
  padding: 0.8rem; 
  transition: all 0.3s ease-in-out;
}

/* quando o input tem valor (o placeholder não está sendo mostrado) E não está focado */
.inputContainer:has(input:not(:placeholder-shown)):not(:focus-within) {
  border-color: var(--input-field-border-color-filled);
  box-shadow: 0 0 4px var(--input-field-border-color-filled);
}

.inputContainer:focus-within {
  border-color: var(--input-field-border-color-focus);
  box-shadow: 0 0 4px var(--input-field-border-color-focus);
}

.error:has(input:not(:placeholder-shown)):not(:focus-within),
.error:focus-within {
  border-color: var(--input-field-border-color-error);
  box-shadow: 0 0 4px var(--input-field-border-color-error) ;
}

.input {
  color: var(--input-field-text-color); 
  outline: none;
  width: 100%;
  font-size: 1.4rem;
  font-family: var(--input-field-input-font);
  font-weight: 600;
  border: none;
  background-color: transparent;
  
  &::placeholder {
    color: var(--input-field-placeholder-color);
    font-family: var(--input-field-placeholder-font);
  }

  &:focus {
    outline: none;
  }


}

.icon {
  color: var(--input-field-icon-color);  
}

.passwordToggle{
  cursor: pointer;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--input-field-icon-color);
}

.errorMessage{
    font-family: var(--input-field-error-font);
    font-size: 1.2rem;
    color: var(--input-field-error-color);
    text-shadow: 0px 1px 2px var(--input-field-error-color);
    font-weight: 700;
    font-style: italic;
    
}
