.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.react {
    width: 18px;
    height: 18px;
    color: #61DAFB;
    margin-right: 5px;
    /* "hover:text-white hover:underline transition-colors inline-flex items-center gap-2" */
}

.node{
    width: 18px;
    height: 18px;
    color: #5FA04E;
    margin-right: 5px;
}
