.footer {
  width: 100%;
  margin-top: auto;
  background-color: var(--footer-bg-color);
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}



.upcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.upcontainer h3 {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: var(--footer-title-font);
  color: var(--footer-title-color);
}

.upcontainer hr{
    width: 2px; 
    height: 100%;
    border: none;
    display: inline-block;
    background-color: var(--footer-line-color);
}

.navegation {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.navegation nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1rem;
}

.navegation nav ul li {
  padding: 0.5rem;
  cursor: pointer;
  position: relative;


  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    transition: all 400ms;
    background: var(--footer-info-hover);
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    transition: all 400ms;
    background: var(--footer-info-hover);
    transform: scaleX(0);
    transform-origin: 0% 50%;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.navegation nav ul li a{
    font: 500 1.4rem/1 var(--footer-info-font);
    color: var(--footer-info-color);

    &:hover, &:focus, &:active, &:visited {
      color: var(--footer-info-hover);
    }
}

.repositories{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.repositories ul{ 
 display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1rem;

}

.repositories ul li{
    padding: 0.5rem;
  cursor: pointer;
  position: relative;


  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    transition: all 400ms;
    background: var(--footer-info-hover);
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    transition: all 400ms;
    background: var(--footer-info-hover);
    transform: scaleX(0);
    transform-origin: 0% 50%;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.repositories ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.repositories ul li a span{
    color: var(--footer-info-color);
    font: 500 1.4rem/1 var(--footer-info-font);

        &:hover, &:focus, &:active, &:visited {
      color: var(--footer-info-hover);
    }
}

.developers{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.developers .dev{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.react {
  width: 18px;
  height: 18px;
  color: #61dafb;
  margin-right: 5px;
}

.node {
  width: 18px;
  height: 18px;
  color: #5fa04e;
  margin-right: 5px;
}

.content hr{
    width: 100%;
    border: none;
    display: inline-block;
    background-color: var(--footer-line-color);
    height: 2px;
}

.copyright{
    text-align: center;
    padding: 1rem;
    color: var(--footer-title-color);
    font-family: var(--footer-title-font);
    font-size: 1.6rem;
    font-weight: 900;

}