.triggerLink {
  color: var(--fgd-link-color);
  text-decoration: none;
  font-size: 1.4rem;
  cursor: pointer;
  transition: color 0.2s;
  border: 2px solid transparent;
  padding: 1rem;
  border-radius: 0.5rem;
}

.triggerLink:hover {
  text-decoration: underline;
  color: var(--fpd-link-hover);
  border-color: var(--fpd-link-hover);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem 2rem;
  border-radius: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.title {
  font-family: var(--fpd-title-font);
  font-size: 2.4rem;
  color: var(--fpd-title-color);
}

.description {
  align-self: flex-start;
  font-size: 1.4rem;
  color: var(--fpd-description-color);
  font-family: var(--fpd-description-font);
  line-height: 1.6;
}

.body{
  display: flex;
  gap: 1.5rem;
  width: 100%;
}

.footer {
  padding: 1rem;
}
