.triggerLink {
  color: var(--link-color);
  text-decoration: none;
  font-size: 1.4rem;
  cursor: pointer;
  transition: color 0.2s;
}

.triggerLink:hover {
  text-decoration: underline;
  color: var(--link-color-hover);
}