.triggerLink {

  text-decoration: none;
  font-size: 1.4rem;
  cursor: pointer;
  transition: color 0.2s;
  border: 2px solid transparent;
  padding: 1rem;
  border-radius: 0.5rem;
}



.content{
  background-color: var(--fpd-bg-color);
  border-radius: 1rem;
  padding: 3rem 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.title {
  font-family: var(--fpd-title-font);
  font-size: 2.8rem;
  color: var(--fpd-title-color);
}

.description {
  align-self: flex-start;
  font-size: 1.6rem;
  color: var(--fpd-description-color);
  font-family: var(--fpd-description-font);
  line-height: 1.6;
}

.body{
  display: flex;
  gap: 1.5rem;
  width: 100%;
}

.footer {
  padding: 1rem;
}

@media screen and (max-width: 480px){
  .form{
    padding: 0;
  }

  .content{
    max-width: 280px;
  }
} 
