@import './styles/reset.css';
@import './styles/globals.css';
@import './styles/themes.css';
@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../.flowbite-react/class-list.json';
@import 'tw-animate-css';
@import './styles/animations.css';
@import './styles/fonts.css';


body {
  min-width: 320px;
  min-height: 100dvh;
  background-color: var(--body-bg-color);
}
