@import './styles/reset.css';
@import './styles/globals.css';
@import 'tailwindcss';
@import 'tw-animate-css';
@import './styles/animations.css';
@import './styles/fonts.css';


body {
  min-width: 320px;
  min-height: 100dvh;
}





