
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.card {
    position: relative;
    height: 340px;
    width: 340px;
    background-color: var(--dev-card-bg-color);
    backdrop-filter: blur(8px); 
    border-radius: 1rem;
    padding: 0.5rem; 
    overflow: hidden;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
    /* Borda animada */
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        transform: translate(-50%, -50%);
        width: 100%;
        aspect-ratio: 1 / 1;
        z-index: 1;
        background: conic-gradient(
            from var(--angle),
            transparent 0%,
            transparent 20%,
            var(--color-2),
            var(--color-3),
            var(--color-1),
            var(--color-3),
            var(--color-2),
            transparent 80%,
            transparent 100%
        );
        animation: rotate 4s linear infinite;
    }
}

.content{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color:  var(--dev-card-bg-color);
    border-radius: 1rem;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: var(--dev-card-header-bg-color) ;
    border-radius: 1rem;
}
.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: avatar;
    border: 1px solid  var(--dev-card-avatar-border-color) ;
    box-shadow: 0 0 2px var(--dev-card-avatar-border-color), 0 0 4px var(--dev-card-avatar-border-color);
    border-radius: 50%;
    padding: 0;

}


.avatar img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.role{
    padding: 0.8rem;
    background-color: var(--dev-card-role-bg-color);
    color: var(--dev-card-role-color);
    border-radius: 1rem;
    font-family: var(--dev-card-role-font);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.title{

    color: var(--dev-card-title-color);
    font-family: var(--dev-card-title-font);
    font-size: 2.4rem;
    text-align: center;
    padding: 0.5rem;
    font-weight: 700;
}

.description{
    color: var(--dev-card-description-color);
    font-family: var(--dev-card-description-font);
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
    font-weight: 400;
    line-height: 1.5;
}

.tech{
    color: var(--dev-card-tech-color);
    font-family: var(--dev-card-tech-font);
    font-size: 1.4rem;
    text-align: center;
    padding: 0.5rem;
    font-weight: 400;
    line-height: 1.5;
}

.stackList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    flex-wrap: wrap;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 0.5rem;
}

.stackItem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    font-family: var(--dev-card-stack-font);
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.react{
    color: #61DAFB;
    background-color: #072d459a;
    text-shadow: 1px 1px 2px #61DAFB;
;
}

.tailwind{
    color: #38bdf8;
    background-color: #08354984;
    text-shadow: 1px 1px 2px #38bdf8;
}

.vite{
    color:  #ffc629;
    background-color: #646cff7a ;
    text-shadow: 1px 1px 2px #646CFF;
}

.typescript{
    color: #3b90eb;
    background-color: #12233f86;
    text-shadow: 1px 1px 2px #3178c6;
}

.react-router{
    color: #ff0000;
    background-color: #420f1381;
    text-shadow: 1px 1px 2px #ff0004;

}

.zod{
    color: #216eff;
    background-color: #222f498d;
    text-shadow: 1px 1px 2px #0059ff;
}

.radix{
    color: #c0c0c2;
    background-color: #16161891;
    text-shadow: 1px 1px 2px #e3e3e3;
}

.framer-motion{
    color: #E10098;
    background-color: #5b003a6b;
    text-shadow: 1px 1px 2px #E10098;

}

.nest-js{
    color: #E0234E;
    background-color: #4b061a8c;
    text-shadow: 1px 1px 2px #E0234E;
}

.mongo-db{
    color: #47a248;
    background-color: #0e25107e;
    text-shadow: 1px 1px 2px #47a248;
}

.rabbit-mq{
    color: #FF6600;
    background-color: #46160480;
    text-shadow: 1px 1px 2px #FF6600;
}

.jwt{
    color: #888888;
    background-color: #3d3d3d81;
    text-shadow: 1px 1px 2px #888888;
}

.rxjs{
    color: #b7178c;
    background-color: #51013979;
    text-shadow: 1px 1px 2px #b7178c;
}

.contact{
    font-size: 1.4rem;
    color: var(--dev-card-contact-color);
    font-family: var(--dev-card-contact-font);
    font-weight: 400;
    text-align: center;
    padding: 0.5rem;
    line-height: 1.5;
}


.social{
    grid-area: social;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--dev-card-social-bg);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 1rem;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.social a img{
    width: 2rem;
    height: 2rem;
    transition: all 0.2s ease-in-out;
}

.social a:hover {
    transform: scale(1.5);
}

 
.social .linkedin{
    filter: drop-shadow(0 0 2px #0077B5);
    &:hover, &:focus-visible{
        filter: drop-shadow(0 2px 1px #0A66C2, 0 0 2px #0A66C2, 0 0 4px #0A66C2);
    }
}

.social .github{
    filter: drop-shadow(0 0 2px #181717 );
    &:hover, &:focus-visible{
        filter: drop-shadow(0 2px 1px #181717, 0 0 2px #181717, 0 0 4px #181717);
    }
}

.social .portfolio{
    filter: drop-shadow(0 0 1px var(--color-1), 0 0 2px var(--color-2) );
    &:hover, &:focus-visible{
        filter: drop-shadow(0 2px 1px var(--color-1), 0 0 2px var(--color-2), 0 0 3px var(--color-1), 0 0 4px var(--color-2));
    }
}





@media screen and (max-width: 420px) {
    .content{
        gap: 0.5rem;
    }

    .title{
        font-size: 1.6rem;
    }

    .tech{
        font-size: 1.2rem;
    }

    .description{
        font-size: 1rem;
    }

    .stackList{
        padding: 0.5rem;
    }

    .stackItem{
        font-size: 1rem;
    }

    .contact{
        font-size: 1.2rem;
    }

    .social{
        gap: 1rem;
    }

    .card{
        height: 290px;
        width: 290px;
    
    }
}