
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.card {
    position: relative;
    width: 100%;
    max-width: 42rem; 
    background-color: var(--dev-card-bg-color);
    backdrop-filter: blur(8px); 
    border-radius: 1rem;
    padding: 0.5rem; 
    overflow: hidden;

    /* Borda animada */
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        aspect-ratio: 1 / 1;
        z-index: 1;
        background: conic-gradient(
            from var(--angle),
            transparent 0%,
            transparent 20%,
            var(--color-2),
            var(--color-3),
            var(--color-1),
            var(--color-3),
            var(--color-2),
            transparent 80%,
            transparent 100%
        );

        box-shadow: 0 0 2px var(--color-1), 0 0 4px var(--color-2), 0 0 6px var(--color-3);
        animation: rotate 4s linear infinite;
    }
}

.content{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color:  var(--dev-card-bg-color);
    border-radius: 1rem;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: var(--dev-card-header-bg-color) ;
    border-radius: 1rem;
}
.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: avatar;
    border: 1px solid  var(--dev-card-avatar-border-color) ;
    box-shadow: 0 0 2px var(--dev-card-avatar-border-color), 0 0 4px var(--dev-card-avatar-border-color);
    border-radius: 50%;
    padding: 0;

}


.avatar img{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
}

.role{
    padding: 0.8rem;
    background-color: var(--dev-card-role-bg-color);
    color: var(--dev-card-role-color);
    border-radius: 1rem;
    font-family: var(--dev-card-role-font);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.title{

    color: var(--dev-card-title-color);
    font-family: var(--dev-card-title-font);
    font-size: 2.4rem;
    text-align: center;
    padding: 1rem;
    font-weight: 700;
}

.description{
    color: var(--dev-card-description-color);
    font-family: var(--dev-card-description-font);
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.tech{
    color: var(--dev-card-tech-color);
    font-family: var(--dev-card-tech-font);
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.stackList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.stackItem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    font-family: var(--dev-card-stack-font);
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
}

.react{
    color: #61DAFB;
    background-color: #072d45;
    text-shadow: 0 0 2px #61DAFB;
;
}

.tailwind{
    color: #38bdf8;
    background-color: #083549;
    text-shadow: 0 0 2px #38bdf8;
}

.vite{
    background-color: #ffc529;
    color: #fff4c6;
    text-shadow: 0 0 2px #646CFF;
}

.typescript{
    color: #3178c6;
    background-color: #12233f;
    text-shadow: 0 0 2px #3178c6;
}

.react-router{
    color: #CA4245;
    background-color: #420f13;
    text-shadow: 0 0 2px #CA4245;

}

.zod{
    color: #3E67B1;
    background-color: #222f49;
    text-shadow: 0 0 2px #3E67B1;
}

.radix{
    color: #767781;
    background-color: #161618;
    text-shadow: 0 0 2px #767781;
}

.framer-motion{
    color: #E10098;
    background-color: #5b003a;
    text-shadow: 0 0 2px #E10098;

}

.nest-js{
    color: #E0234E;
    background-color: #4b061a;
    text-shadow: 0 0 2px #E0234E;
}

.mongo-db{
    color: #47a248;
    background-color: #0e2510;
    text-shadow: 0 0 2px #47a248;
}

.rabbit-mq{
    color: #FF6600;
    background-color: #461604;
    text-shadow: 0 0 2px #FF6600;
}

.jwt{
    color: #888888;
    background-color: #3d3d3d;
    text-shadow: 0 0 2px #888888;
}

.RxJS{
    color: #b7178c;
    background-color: #510139;
    text-shadow: 0 0 2px #b7178c;
}


.social{
    grid-area: social;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    -webkit-box-reflect: below linear-gradient(transparent, #00c3c3);
}

.social a img{
    width: 2rem;
    height: 2rem;
    transition: all 0.2s ease-in-out;
}


.social a:hover img{
    transform: scale(1.5);
}

 
.social .linkedin{
    filter: drop-shadow(0 0 2px #0077B5);
    &:hover, &:focus-visible{
        filter: drop-shadow(0 0 1px #0A66C2, 0 0 2px #0A66C2, 0 0 4px #0A66C2);
    }
}

.social .github{
    filter: drop-shadow(0 0 2px #181717 );
    &:hover, &:focus-visible{
        filter: drop-shadow(0 0 1px #181717, 0 0 2px #181717, 0 0 4px #181717);
    }
}

.social .portfolio{
    filter: drop-shadow(0 0 1px var(--color-1), 0 0 2px var(--color-2) );
    &:hover, &:focus-visible{
        filter: drop-shadow(0 0 1px var(--color-1), 0 0 2px var(--color-2), 0 0 3px var(--color-1), 0 0 4px var(--color-2));
    }
}

/* Animação que rotaciona o gradiente */
@keyframes rotate {
    from { --angle: 0deg; }
    to { --angle: 360deg; }
}


@media screen and (max-width: 1024px) {
    .avatar img {
        width: 64px;
        height: 64px;
    
    }
    .title {
        font-size: 2rem;
    }
    .social a img {
        width: 1.8rem;
        height: 1.8rem;
    }
    .content {
        gap: 1rem;
        grid-template-areas: 
        'avatar titulo'
        'social social';
    }
}
@media screen and (max-width: 768px) {
    .card {
        max-width: 16rem;
    }
    .avatar img {
        width: 48px;
        height: 48px;
    }
    .title {
        font-size: 1.4rem;
    }
    .social a img {
        width: 1.6rem;
        height: 1.6rem;
    }
    .content {
        gap: 0.5rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 480px) {
    .card {
        max-width: 30rem;
    }
    .avatar img {
        width: 96px;
        height: 96px;
    }
    .title {
        font-size: 2.4rem;
    }
    .social a img {
        width: 2rem;
        height: 2rem;
    }
    .content {
        gap: 1rem;
        padding: 0.5rem;
    }
}