
@import '../../index.css';

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.card {
    position: relative;
    width: 100%;
    max-width: 42rem; 
    background-color: var(--dev-card-bg-color);
    backdrop-filter: blur(8px); 
    border-radius: 1rem;
    padding: 0.5rem; 
    overflow: hidden;

    /* Borda animada */
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        aspect-ratio: 1 / 1;
        z-index: 1;
        background: conic-gradient(
            from var(--angle),
            transparent 0%,
            transparent 20%,
            var(--color-2),
            var(--color-3),
            var(--color-1),
            var(--color-3),
            var(--color-2),
            transparent 80%,
            transparent 100%
        );

        /* faça com que a box shadow seja animada tambem junto com  a borda animada */
        box-shadow: 0 0 20px var(--color-1), 0 0 40px var(--color-2);
        
        

        animation: rotate 4s linear infinite;
    }
}

.content{ 
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-template-areas: 
    'avatar titulo titulo'
    'avatar social social'
    ;

    background-color:  var(--dev-card-bg-color);
    border-radius: 1rem;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 1rem;
}


.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: avatar;
    border: 1px solid  var(--dev-card-avatar-border-color) ;
    box-shadow: 0 0 2px var(--dev-card-avatar-border-color), 0 0 4px var(--dev-card-avatar-border-color);
    border-radius: 50%;
    padding: 0;

}


.avatar img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.title{
    grid-area: titulo;
    color: var(--dev-card-title-color);
    font-family: var(--dev-card-title-font);
    font-size: 2.4rem;
    text-align: center;
    padding: 1rem;
    font-weight: 700;
}

.social{
    grid-area: social;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    -webkit-box-reflect: below linear-gradient(transparent, #00c3c3);
}

.social a img{
    width: 2rem;
    height: 2rem;
    transition: all 0.2s ease-in-out;
}


.social a:hover img{
    transform: scale(1.5);
}

 
.social .linkedin{
    filter: drop-shadow(0 0 2px #0077B5);
    &:hover, &:focus-visible{
        filter: drop-shadow(0 0 1px #0A66C2, 0 0 2px #0A66C2, 0 0 4px #0A66C2);
    }
}

.social .github{
    filter: drop-shadow(0 0 2px #181717 );
    &:hover, &:focus-visible{
        filter: drop-shadow(0 0 1px #181717, 0 0 2px #181717, 0 0 4px #181717);
    }
}

.social .portfolio{
    filter: drop-shadow(0 0 1px var(--color-1), 0 0 2px var(--color-2) );
    &:hover, &:focus-visible{
        filter: drop-shadow(0 0 1px var(--color-1), 0 0 2px var(--color-2), 0 0 3px var(--color-1), 0 0 4px var(--color-2));
    }
}

/* Animação que rotaciona o gradiente */
@keyframes rotate {
    from { --angle: 0deg; }
    to { --angle: 360deg; }
}