.section{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 0;
}

.title{
    font: 700 4.8rem/1.2 var(--features-title-font);
    text-align: center;
    padding: 1rem;
    color: var(--features-title-color);
    text-shadow: var(--features-title-shadow);
}


.subtitle{
    font: 500 1.8rem/1.2 var(--features-subtitle-font);
    text-align: center;
    padding: 1rem;
    color: var(--features-subtitle-color);
}

.featuresContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 8rem;
}

@media screen and (max-width: 768px) {
    .title{
        font-size: 3.2rem;
    }

    .description{
        font-size: 1.4rem;
    }

    .featuresContainer{
        padding: 2rem;
    }
    
}