
.layout {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  
}

@media screen and (min-width: 1024px){
    main{
        max-width: 1024px;
    }
}

@media screen and (min-width: 1280px){
    main{
        max-width: 1280px;
    }
}

@media screen and (min-width: 1440px){
    main{
        max-width: 1440px;
    }
}



