/* BACKGROUND ICON */

.main-content .background-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: -1;
}

.main-content .background-icon #calendar-icon {
    position: relative;
    left: 80px;
    bottom: 80px;
    font-size: 400px;
    color: var(--support-color);
}

.main-content .background-icon #check-icon {
    position: relative;
    right: 80px;
    top: 60px;
    font-size: 400px;
    color: var(--contrast-color);
}

/* WELCOME SECTION */

.main-content .welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.main-content .welcome-section h2 {
    font-size: 1.875rem;
    text-align: center;
}

.main-content .welcome-section p {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0;
}

.main-content .welcome-section ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px 0;
    font-size: 1.5rem;
}